.icon {
  width: 3rem;
  height: 3rem;
  border: .1rem solid transparent;
  background-color: transparent;
  color: var(--text);
}

.container {
  position: absolute;
  top: 4.5rem;
  right: 1rem;
  display: none;

  > button {
    width: 9rem;
    border-color: var(--required);
  }

  .alert {
    position: absolute;
    top: 6.5rem;
    right: 0;
  }
}

.container__active {
  display: flex;
}

.content {
  margin: auto;

  .title {
    font-size: 1.1rem;
    font-weight: bold;
  }

  .actionButton {
    .cancel {
      border-color: var(--background);
    }

    .submit {
      border-color: var(--required);
      margin-left: 3px;
    }
  }

  .closeButton {
    color: var(--primary);
    border-color: transparent;
  }
}