@use 'styles/variables' as *;

.site, .site__without__footer {
  width: 100%;
  min-height: calc(100vh - 3.3rem);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: -3rem;

  .container {
    width: inherit;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-evenly;
    margin:2rem auto 3rem;
    gap: 2rem;


    .welcomeContainer {
      width: 100%;
      max-width: 35rem;
      align-content: space-evenly;
      padding: 1rem;

      .title {
        margin: 2rem 0;
      }

      p:nth-of-type(2) {
        margin-top: 1rem;
      }
    }

    .form, .form__dark {
      width: 100%;
      max-width: 29rem;
      padding: 0 1rem;

      select.tags, input, textarea {
        &:hover {
          border-color: rgba(79, 141, 255, .5);
        }
      }

      input::placeholder, textarea::placeholder {
        color: $third__color;
      }

      input, textarea, button {
        margin: 1rem 0;
        border-color: $third__color;
      }

      .select, .select__dark {
        margin: 1rem 0;
        color: $third__color;

        .tags, .tags__error {
          font-size: 1rem;
          color: $third__color;
          border-color: $third__color;

          &__error {
            border-color: $required__color;
          }

          option {
            background-color: $dark__color__light__back;
          }
        }

        &__dark {
          .tags, .tags__error {
            font-size: 1rem;
            border-color: $third__color;
            color: $third__color;
            background-color: $dark__background__light__color;

            &__error {
              border-color: $required__color;
            }

            option {
              color: inherit;
              background-color: inherit;
            }
          }
        }
      }

      .titleInput__error, .message_error {
        border-color: $required__color;
      }

      .button {
        width: 6rem;
        padding: .5rem 0;
        border-radius: 0.5rem;
        background-color: transparent;
        cursor: pointer;
        margin-left: .25rem;

        &:hover {
          background-color: $third__color;
          color: $dark__color__light__back;
        }
      }
    }

    .form__dark {
      input, textarea, button {
        color: $third__color;
      }
    }

    @media (min-width: 720px) and (min-height: 720px), (width: 740px) {
      margin: auto;
    }

    @media (min-height: 844px) and (max-height: 851px) {
      margin: 2rem auto;
    }
  }

  @media (min-height: 820px), (height: 800px), (width: 1114px) {
    min-height: calc(100vh - 5rem);
  }
}

@media (max-width: 719px) and (orientation: portrait) {
  .site__without__footer {
    .container .welcomeContainer .title {
      margin-top: 4rem;
    }
  }
}