.form {
  display: flex;
  flex-flow: column wrap;
  margin: 1.5rem auto;

  @media (min-width: 516px) {
    margin: 2rem;
  }

  @media (min-width: 625px) and (max-width: 770px) {
    margin: 3rem;
  }

  .title {
    width: 100%;
    height: 3rem;
    display: inline-block;
    font-size: 2rem;
    margin-bottom: 1rem;
  }

  .button {
    width: 12rem;
    height: 2rem;
    margin: 0.5rem auto;
  }

  .input {
    width: 12rem;
    height: 2rem;
    margin: 0 auto 1rem;
  }
}