@use 'styles/_variables' as *;

.comments {
	display: grid;
	grid-template-columns: 3rem 1fr;
	padding: 0 0.25rem;

	.text {
		text-align: left;
		color: $third__color;
	}
}

.addingButton {
	display: flex;
	justify-content: flex-start;
	background-color: $third__color;
	border-color: $third__color;
	margin: 1rem 0 1rem 3rem;
	cursor: pointer;
}