@use 'styles/variables' as *;

.wrapper {
  width: 100vw;
  margin: 5rem auto;
  position: relative;
}

.carousel {
  overflow: auto;
  scroll-behavior: smooth;
  scrollbar-width: none;
}

.carousel::-webkit-scrollbar {
  height: 0;
}

.content {
  display: grid;
  grid-gap: 2rem;
  grid-auto-flow: column;
  margin: auto;
  box-sizing: border-box;
  font-size: 1.2rem;
}

.top__left__arrow,
.top__right__arrow {
  width: 4rem;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-content: center;
  background-repeat: no-repeat;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
  top: 50%;
}

.top__left__arrow {
  left: 0;
  transform: translate(50%, -50%);
}

.top__right__arrow {
  right: 0;
  transform: translate(-50%, -50%);
}

@media (min-width: 600px) and (max-width: 767px) {
  .wrapper {
    width: 86vw;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .wrapper {
    width: 80vw;
  }
}

@media (min-width: 1024px) {
  .wrapper {
    width: 63vw;
  }
}
//
//@media (min-width: 1024px) and (max-width: 1439px) {
//  .wrapper {
//    margin: 0 auto;
//  }
//
//  .content {
//    display: grid;
//    margin: auto;
//    box-sizing: border-box;
//    font-size: 1.2rem;
//  }
//}
