.top__among__users,
.liked {
  text-align: center;
  margin: 3rem auto 5rem auto;
}

@media (min-width: 280px) and (max-width: 767px) {
  .top__among__users,
  .liked {
    font-size: 2rem;
    text-align: center;
    width: 100vw;
    margin: 6rem auto;
  }
}

@media (min-width: 1024px) and (max-width: 1439px) {
  .top__among__users,
  .liked {
    width: 75vw;
  }
}
