.accordionRoot {
  display: grid;
  justify-content: space-around;
  align-self: center;
  margin: 2rem auto;

  .accordionItem {
    width: 26rem;
    margin: 1rem 0;
    background-color: transparent;
    color: var(--text);

    .accordionButton {
      &:focus {
       div h2 {
         color: var(--background);
       }
    }

      div {
        h2 {
          font-size: 1rem;
        }

        svg {
          width: 1.5rem;
          height: 1.5rem;
          text-align: inherit;
          background-color: var(--primary);
          border-radius: 1rem;
          margin-right: 0.5rem;

          &:hover,
          &:active,
          &:focus {
            background-color: var(--secondary);
            color: var(--primary);
          }
        }
      }

      .accordionBody {
        font-size: 1rem;
        margin-top: 0.5rem;
        margin-right: 2rem;

        a {
          color: var(--third);

          &:hover {
            color: var(--primary);
          }
        }
      }
    }
  }
}
