.options {
  .bottomPanel {
    display: grid;
    grid-template-columns: 1fr 3rem;
    margin: 1rem 1.25rem 0;
    align-items: center;

    .author__name {
      margin: 0.5rem 0;
    }
  }

  .linkToComments {
    width: 15rem;
    max-width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0.1rem;
    border-radius: 0.5rem;
    margin: 1rem auto;
    padding: 0.75rem;
    font-size: 1rem;
    background-color: var(--third);
    color: var(--text);
  }
}
