@use 'styles/variables' as *;

.footer {
  width: 100vw;
  display: flex;
  flex-flow: row wrap;
  margin-bottom: -1rem;
  background-color: $third__color;

  .button {
    width: 10rem;
    height: 2rem;
    border: 0;
    margin: 0.5rem auto;
    font-size: .9rem;
    cursor: pointer;
    background-color: inherit;
    color: $another__color;

    .languages {
      width: fit-content;
      height: 0;
      display: flex;
      flex-direction: column;
      gap: .4rem;
      position: relative;
      bottom: 6.5rem;
      right: 3rem;
      font-size: 1.2rem;
      opacity: 0;
      visibility: hidden;

      &__version {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        background-color: $primary__color;
        color: $dark__background__light__color;
        margin: 0 .1rem;
      }

      &__active {
        opacity: 1;
        visibility: visible;
        transition: opacity .5s ease-in-out, visibility .5s ease-in-out;
      }

      @media (max-width: 319px) {
        right: 0;
        bottom: 9rem;
        margin: auto;
      }
    }
  }
  
  @media (min-width: 640px) and (max-width: 959px)  {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr;
  }
}
