.container {
  width: 95vw;
  max-width: 42.5rem;
  margin: 1.5rem auto;
  padding: 1rem;
  border: 0.3rem solid transparent;
  border-radius: 2rem;
  box-shadow: 0 0 1rem 0.1rem var(--third);
  position: relative;

  .avatarWithUsername {
    display: grid;
    grid-template-columns: 3rem 1fr auto;
    align-items: center;
    margin-bottom: 0.5rem;

    .username {
      display: flex;
      flex-direction: column;
      font-size: 1.2rem;
      margin-left: 0.7rem;

      .time {
        font-size: 0.8rem;
        margin: 0.25rem 0;
      }
    }
  }

  .titlePost {
    font-size: 1.5rem;
    padding-bottom: 0.8rem;
    color: var(--primary);
  }

  .description {
    font-size: 1.2rem;
    line-height: 1.2;
    white-space: pre-line;
  }

  .options {
    display: grid;
    grid-template-columns: 2.5rem 1fr 3rem;
    margin-top: 1.5rem;

    .likes {
      width: 2.5rem;
      height: 2.5rem;
      margin: auto;
      background-color: transparent;
      color: var(--third);
      border-color: transparent;
      cursor: pointer;
    }

    .commentsButton {
      width: calc(100% - 1.5rem);
      height: 100%;
      margin: auto;
      font-size: 1.2rem;
      border-color: transparent;
      border-radius: 1rem;
      cursor: pointer;

      &:hover {
        background-color: var(--third);
        color: #000;
      }
    }
  }

  .likesShComs {
    display: grid;
    grid-template-columns: 30% 1fr 30%;
    justify-items: center;
    padding: 1rem 0.3rem;
    color: var(--third);

    p {
      width: 100%;
      display: inline-flex;
      justify-content: center;
      padding-right: 0;
    }

    p:first-child {
      justify-content: flex-start;
    }

    p:last-child {
      justify-content: flex-end;
    }

    .leftpadding {
      padding-left: 0.45rem;
    }

    .leftSmallpadding {
      padding-left: 0.2rem;
    }

    .rightPadding {
      padding-right: 0.9rem;
    }

    .rightSmallpadding {
      padding-right: 0.6rem;
    }

    .rightVerySmallpadding {
      padding-right: 0.3rem;
    }
  }

  .commentsSection {
    display: none;
  }

  .showComments {
    display: flex;
    flex-direction: column;
    margin: 1rem auto;
  }
}
