.mainData {
  max-width: 31rem;
  margin: 2rem auto 1.5rem;
}

.logoPseu {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  justify-items: center;
  margin: 2rem auto 1.5rem;

  .logo {
    width: 11.25rem;
    height: 11.25rem;
    padding: 0 1.5rem;
    position: relative;

    img {
      border: .3rem inset var(--secondary);
      border-radius: 3rem;
      box-shadow: 0 0 15rem -.3rem var(--secondary);
    }

    .updateLogo {
      position: absolute;
      bottom: 0;
      right: 0;
      width: 2.8rem;
      height: 2.8rem;
      margin: 0 .5rem;
      font-size: 1.4rem;
      border: .1rem solid var(--primary);
      border-radius: .75rem;
      background-color: var(--primary);
      color: black;
      cursor: pointer;
    }
  }

  .name {
    display: flex;
    align-items: flex-end;
    line-height: 1.2;
    margin-top: 1.5rem;
  }
}

.description {
  margin: 0 2rem;
}

.edit {
  background: var(--third);
  border-color: var(--third);
}

.cancel {
  background: var(--primary);
  border-color: var(--primary);
}

@media (min-width: 768px) {
  .mainData .logoPseu {
    grid-template-columns: 11.25rem 1fr;

    .name {
      margin-left: 1rem;
    }
  }
}