@use 'styles/variables' as *;

.create__account,
.login {
  position: absolute;
  width: 100%;
  max-width: 23rem;
  max-height: 42rem;
  align-items: center;
  top: 2.8rem;
  right: 0;
  color: $dark__background__light__color;
  background-color: $primary__color;
  border-bottom: 0.1rem inset $secondary__color;
  border-left: 0.1rem inset $secondary__color;
  border-right: 0.1rem inset $secondary__color;
  border-radius: 0.5rem;
  z-index: 999;

  form {
    display: flex;
    flex-direction: column;
    max-width: 20rem;
    margin: auto;

    .title {
      margin: 3.5rem auto 1.5rem;
      text-align: center;
      font-size: 1.8rem;
    }

    .inputForm,
    .inputForm__error {
      display: block;
      width: 17rem;
      max-width: 90%;
      margin: 1rem auto 0.5rem;
      border-color: $third__color;
      color: $dark__background__light__color;

      &::placeholder {
        color: rgba(45, 55, 72, 0.81);
      }
    }

    .inputForm {
      border-color: $third__color;

      &:hover {
        border-color: rgba(79, 141, 255, 0.7);
      }

      &__error {
        border-color: $required__color;
      }
    }

    .submit__button {
      width: 10rem;
      margin: 1.5rem auto 1rem;
      color: $dark__background__light__color;
    }
  }
}

.forgotten {
  margin: .5rem auto;
  background: none;
  border-color: transparent;
  color: $dark__background__light__color;

  &:hover {
    text-decoration: underline;
  }
}

.dividerWIthText {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  justify-content: center;
  align-items: center;
  gap: 0 0.5rem;
  padding: .5rem 1rem;

  .provider__title {
    display: inline-block;
    font-size: 1rem;
  }
}

.changeForm {
  margin: 1rem auto;

  a {
    color: $secondary__color;
  }
}

.create__account {
  display: none;
}

.create__account .chakraAlert > div {
  position: absolute;
  bottom: 4rem;
  border-radius: 1rem;
  z-index: 1;
}

.login {
  display: none;
}

.acceptInfo {
  height: 3rem;
  margin: auto 2rem;
  font-size: .9rem;
}

.form__menu__active {
  display: grid;
}