.forgotten {
  width: min(95%, 30rem);
  height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  margin: 0 auto;

  .borderContainer {
    display: grid;
    gap: 1rem;
    padding: 3rem 2rem;
    border-radius: 2rem;
    box-shadow: 0 0 1.4rem var(--third);

    > * {
      width: 100%;
      border-radius: 0.5rem;
    }

    .title {
      font-size: 1.5rem;
      line-height: 1.2;
    }

    .subTitle {
      font-size: 1.3rem;
    }

    .inputForm, .inputForm__error {
      margin: .5rem auto 0;
      padding: .5rem .75rem;
      background-color: var(--background);
      color: var(--third);
    }

    .inputForm {
      border-color: var(--third);
    }

    .inputForm__error {
      border-color: var(--required);
    }

    .submit__button {
      height: 2.5rem;
      margin: 0;
      font-weight: bold;
      border: 0.1rem solid var(--secondary);
      background-color: var(--background);

      &:hover, &:active {
        background-color: var(--secondary);
        border-color: var(--secondary);
      }
    }
  }

}