.container {
  width: 100%;
  margin: 1rem auto 2rem;

  .comment {
    display: grid;
    grid-template-columns: 3rem 1fr;
    align-items: center;

    .rightSideComment {
      display: flex;
      flex-direction: column;
      margin: 0.5rem 0.5rem 0.5rem 0;

      .topPartComment {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: space-between;
        align-items: center;
        padding: 0 0.5rem 0.5rem 0;

        .pseudonym {
          font-size: 1.2rem;
          text-align: inherit;
          font-style: oblique;
        }

        .date {
          text-align: right;
          font-size: .9rem;
        }
      }

      .text {
        font-size: 1rem;
        text-align: inherit;
      }
    }
  }

  &__deleted {
    display: none;
  }
}
