.options {
  display: flex;
  justify-content: space-between;
  margin: .5rem 0;

  .likesContainer {
    display: flex;
    align-items: center;

    .likes {
      width: 2rem;
      height: 2rem;
      margin-left: .5rem;
      background-color: transparent;
      color: var(--third);
      border-color: transparent;
      cursor: pointer;
    }

    .likesCount {
      margin-right: .5rem;
      font-size: 1rem;
      color: var(--third);
    }
  }

  .buttons {
    display: flex;
    position: relative;

    .moreBut {
      font-size: 1.6rem;
      background-color: transparent;
      border-color: transparent;
      cursor: pointer;

      &:hover {
        background-color: var(--third);
      }
    }

    .more {
      width: max-content;
      display: flex;
      position: absolute;
      right: 110%;
      background-color: var(--third);
      border-radius: 1rem;

      .edit, .delete {
        min-width: 5rem;
        padding: 0 1rem;
        border-color: transparent;
        cursor: pointer;
      }

      .edit {
        color: var(--text);
      }

      .delete:hover {
        background-color: var(--required);
        border-radius: 1rem 0 0 1rem;
      }
    }

    .content {
      margin: auto;

      .title {
        font-size: 1.1rem;
        font-weight: bold;
      }

      .comment {
        width: 95%;
        margin: 1rem auto 0;
        padding: 0 0.25rem;

        textarea {
          color: var(--third);
        }
      }

      .actionButton {
        display: flex;
        gap: 1rem;
        margin: 2rem;
        justify-content: space-around;

        .cancel {
          background-color: var(--text);
          border-color: var(--text);
        }

        .submit {
          display: flex;
          background-color: var(--third);
          border-color: var(--third);
          margin-left: 3px;
        }
      }

      .closeButton {
        color: var(--primary);
        border-color: transparent;
      }
    }

    .answer {
      padding: .1rem 1rem;
      border-color: transparent;
      cursor: pointer;
    }
  }
}