.container {
  width: min(34.5rem, 90dvw);
  margin: 1rem auto 2rem;

  .comment {
    width: 100%;
    display: grid;
    grid-template-columns: 3rem 1fr;
    align-items: center;
    justify-items: center;

    img {
      margin: 0.35rem 0 0.8rem;
    }

    .rightSideComment {
      width: inherit;
      display: flex;
      flex-direction: column;
      margin: 0 0.5rem;

      .topPartComment {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: space-between;
        align-items: center;
        padding: 0.35rem 0 1.2rem;

        .pseudonym {
          font-size: 1.2rem;
          text-align: inherit;
          font-style: oblique;
        }

        .date {
          text-align: right;
          font-size: 0.9rem;
        }
      }

      .text {
        font-size: 1rem;
        text-align: inherit;
      }
    }
  }

  &__deleted {
    display: none;
  }

 &:last-child {
  margin-bottom: 8rem;
 }
}
