.tabs {
  display: grid;
  grid-template-columns: 9rem 1fr;
  width: 100dvw;
  height: 3rem;
  position: fixed;
  top: 0;
  margin: 0.5rem 0 1.5rem;

  .arrow {
    display: grid;
    grid-template-columns: 3rem 1fr;
    gap: 0.5rem;
    width: fit-content;
    align-items: center;
    position: absolute;

    svg {
      width: 3rem;
      height: calc(3rem - 0.25rem);
      transform: rotate(-90deg);
    }

    h3 {
      width: 6rem;
      margin-left: -0.5rem;
    }
  }

  .title {
    display: flex;
    width: inherit;
    height: inherit;
    align-items: center;
    justify-content: center;
    margin: auto;
    font-size: 1.3rem;
  }
}

@media (min-width: 768px) {
    .tabs {
        position: unset;
    }
}