.langMenu {
  display: flex;
  width: inherit;
  height: 3rem;
  align-items: center;
  justify-content: space-between;
  font-size: 1.2rem;

  > div {
    display: inline-flex;
    align-items: center;

    .icon {
      width: 1.4rem;
      height: 1.4rem;
      margin-right: 0.2rem;
    }
  }

  .languages {
    width: 6rem;
    display: flex;
    flex-direction: column;
    font-size: 1.1rem;
    list-style-type: none;
    position: relative;
    border-radius: 5px;
    padding: 0;
    font-weight: bold;
    cursor: pointer;

    .languages__select {
      display: flex;
      height: 2.5rem;
      justify-content: center;
      align-items: center;
      gap: 0.5rem;
      font-size: 1rem;
      border-radius: 0.5rem;
      border: 0.1rem solid var(--secondary);
      color: var(--text);

      &:hover {
        background-color: var(--secondary);
      }

      &:active, &:active svg {
        color: var(--select__color) !important;
      }

      &:hover svg, &:focus svg {
        color: var(--background);
      }
    }

    .language {
      display: none;

      &__active {
        height: min-content;
        display: flex;
        flex-direction: column;
        background-color: var(--background);
        position: absolute;
        top: -3rem;
        gap: 0 0.5rem;
        border: 0.1rem solid var(--secondary);
        border-radius: 0.4rem;
        z-index: 2;
      }

      li {
        position: relative;
        width: 6rem;
        height: 2.5em;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        padding: 0.25rem 0;
        font-size: 1rem;

        .languages__version {
          width: inherit;
          height: inherit;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 0.5rem;
          background-color: var(--background);
          color: var(--text);
          font-size: 1rem;
          border-color: transparent;

          &:hover,
          &:active {
            filter: invert(0.2);
            font-weight: bold;
            border-radius: 0.4rem;
          }
        }
      }
    }
  }
}

@media (min-width: 768px) {
  .langMenu {
    > div {
      width: 11rem;
    }
  }
}

@media (min-width: 1490px) {
  .langMenu {
    .languages {
      li.languages__select {
        width: 5.98rem;

        p {
          font-size: 1rem;
        }
      }
    }
  }
}