@use 'styles/variables' as *;

.form {
  display: flex;
  flex-direction: column;
  max-width: 20rem;
  margin: 0 auto;

  .title {
    margin: 2.5rem auto 0.5rem;
    text-align: center;
    font-size: 1.8rem;
  }

  .inputForm,
  .inputForm__error {
    display: block;
    width: 17rem;
    max-width: 90%;
    margin: 1rem auto 0.5rem;
    border-color: $third__color;
    color: $dark__background__light__color;

    &::placeholder {
      color: rgba(45, 55, 72, 0.81);
    }
  }

  .inputGroup {
    div button {
			height: 2rem;
			width: 2rem;
			margin: 1rem 1rem .5rem 0;
      color: $dark__background__light__color;
      background-color: $another__color;
      border-color: $primary__color;
    }

    .inputForm {
      border-color: $third__color;

      &:hover {
        border-color: rgba(79, 141, 255, 0.7);
      }

      &__error {
        border-color: $required__color;
      }
    }
  }

  .submit__button {
    width: 10rem;
    margin: 1.5rem auto 0;
    color: $dark__background__light__color;
  }
}
