@use 'styles/variables' as *;

.user__gallery__in__account {
  width: 100%;
}

.title {
  font-size: 1.8rem;
  display: inline-block;
  margin: 3rem auto;
}

.user__photos,
.like__photos {
  display: flex;
  flex-flow: column wrap;
  width: 100vw;
  max-width: 40rem;
  max-height: 100vh;
  margin: 1.5rem auto;
  padding-bottom: 6rem;
  scroll-behavior: smooth;
  overflow-x: auto;
  scrollbar-width: auto;
  scrollbar-color: $another__color $fourth__color;

  @media (orientation: landscape) and (max-height: 413px) {
    padding-bottom: 2rem;
  }

  @media (orientation: landscape) and (max-height: 360px) {
    padding-bottom: 1rem;
  }

  @media (min-width: 2000px) and (min-height: 1366px) {
    max-height: 75vh;
    max-width: 50vw;
  }

  // IPAD AIR
  @media (width: 1180px) {
    padding-bottom: 4rem;
  }
  // IPAD MINI
  @media (width: 1024px) {
    padding-bottom: 7rem;
  }
  // SURFACE DUO
  @media (width: 720px) {
    padding-bottom: 3rem;
  }


  &:active {
    scrollbar-color: $fourth__color $another__color;
  }
  &::-webkit-scrollbar {
    width: 15px;
  }

  &::-webkit-scrollbar-track {
    background-color: $fourth__color;
  }

  &::-webkit-scrollbar-thumb {
    background: $another__color;
  }

  &::-webkit-scrollbar-thumb:hover {
    width: 15px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: $third__color;
    border-radius: 20px;
  }

  &::-webkit-scrollbar-thumb:active {
    background: $another__color;
    border-radius: 20px;
  }
}
