@use 'styles/variables' as *;

.categories {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 1rem 0;
  justify-content: center;
  align-items: center;
  font-size: 1.4rem;

  > li {
    width: 100%;
  }

  .shadow {
    box-shadow: 0 0 3px $link__active;

    @media (min-width: 982px) {
      padding: 0 10px;
    }
  }

  .containerImgLink {
    width: 92%;
    display: flex;
    gap: 0 .8rem;
    justify-content: center;
    align-items: center;
    margin: .25rem auto;

    img {
      border-radius: 25%;
    }
  }

  .link {
    width: 100%;
    height: 2.8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
  }

  .source {
    display: none;
  }

  .withIcon {
    width: 98%;
    display: grid;
    grid-template-columns: 1fr 2rem;
    justify-content: center;
    align-items: center;
    margin: auto;

    .p {
      padding-left: 1.5rem;
      text-align: center;
    }

    svg {
      justify-self: center;
    }
  }

  .photographs {
    margin-top: .5rem;
  }

  .hiddenElement {
    display: none;
  }
}
