.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;

  .container__section {
    width: 44rem;
    max-width: 100%;

    .titleContainer {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 1rem;

      .title {
        margin: 2rem 0;
        text-align: center;
      }

      .addGroup__link {
        width: fit-content;
        height: 2.5rem;
        margin: 0;
        border-color: var(--third);
      }
    }

    .list {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin-top: 3rem;
    }

    .more {
      display: flex;
      width: 6rem;
      margin: 2rem auto;
      border: 0.1rem solid var(--third);
      cursor: pointer;
    }
  }

  .noALl {
    margin: 1rem 2rem 0;
    font-size: 1.2rem;
    text-align: center;
  }

  @media (min-width: 1108px) {
    .container__section {
      width: 52rem;
    }
  }

  @media (min-width: 1552px) {
    .container__section {
      width: 80rem;
    }
  }
}
