.reset {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .title {
    margin: 3rem auto 2rem;
  }

  .subtitle {
    margin: 2rem auto;
  }

  .submit__button {
    width: 11rem;
    margin: 1rem auto;
  }
}