.title a {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.menu_buttons {
  width: 20%;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: auto;
  column-gap: 1.3rem;
  font-size: 0.85rem;
  color: inherit;
  border-color: transparent;
  background-color: transparent;
  cursor: pointer;

  &:active {
    p, svg, .buttons {
      color: var(--text);
      fill: var(--text);
      stroke: var(--text);
    }
  }

  svg, span#avatar {
    width: 2.2rem;
    height: inherit;
    color: inherit;
  }

  span {
    display: flex;
    justify-content: center;
    align-items: center;
    color: inherit;
  }

  p {
    display: flex;
    margin: auto 0;
  }

  svg,
  p {
    color: inherit;
  }
}

.buttons {
  width: 60%;
  height: 100%;
  display: flex;

  .menu_buttons {
    width: 33.33%;

    &:first-child svg {
      width: 2.6rem;
      margin: -0.2rem 0;
    }

    &:nth-child(2) svg,
    &:nth-child(3) svg {
      width: 1.8rem;
      margin: 0.2rem 0 0.21rem;
    }
  }
}

.search {
  width: 100%;
  max-width: 31rem;
  position: absolute;
  bottom: 4.5rem;
  left: 0;
  right: 0;
  margin: auto;
  padding: 0.45rem;
  border: 0.1rem solid var(--secondary);
  border-radius: 0.5rem;
  background-color: var(--secondary);
  transform: translateY(8.5rem);
  transition: transform 0.9s 0.1s ease-in-out;

  input::placeholder,
  input {
    color: var(--text);
  }

  div {
    right: 0;
    max-width: 9rem;

    .rightButton,
    svg {
      background-color: inherit;
      border-color: transparent;
      width: 1.6rem;
      height: 1.6rem;
      margin-right: 0.3rem;
      cursor: pointer;
    }
  }
}

.searching {
  width: 100%;
  max-width: 31rem;
  min-height: 10rem;
  max-height: calc(100vh - 7.5rem);
  position: inherit;
  top: 0;
  left: 0;
  right: 0;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: 0.45rem;
  border: 0.1rem solid var(--secondary);
  border-radius: 0.5rem;
  background-color: var(--secondary);
  font-size: 1.2rem;
  scroll-behavior: smooth;
  overflow: scroll;
  z-index: 2;

  .searchValues {
    margin: 0 auto;
    padding: 2rem 0.5rem 1rem;
  }

  .dataSearching {
    padding: 1rem 0.5rem;
    font-size: 1.5rem;

    .categoryName {
      padding: 1rem 0.5rem;
      font-size: 1.6rem;
    }

    .data {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 1rem;
      font-size: 1.4rem;
    }
  }
}

div.search__active {
  transform: translate(0);
  transition: transform 0.9s 0.1s ease-in-out;
}

.menu_profile {
  transform: translate(17rem);
  transition: transform 1s 0.1s ease-in-out;
  height: max-content;
  position: absolute;
  right: 0;
  bottom: 5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0.2rem 0 0.4rem;
  border-radius: .5rem 0 0 .5rem;
  background-color: var(--primary);

  li {
    width: 8rem;
    height: 3rem;

    a,
    button {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1.2rem;
      color: inherit;

      &:hover {
        background-color: var(--hover);
        border-radius: 0.4rem;
      }
    }

    a:hover {
      color: black;
    }

    button {
      background-color: transparent;
      border: transparent;
      color: black;
      font-weight: normal;
    }
  }
}

ul.menu_profile__active {
  transform: translateX(0);
  transition: transform 1.2s 0.1s ease-in-out;
}

@media (min-width: 768px) {
  .buttons {
    height: 100%;
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    margin: auto;
  }

  .menu_buttons {
    width: unset;
    flex-direction: row;
    margin: auto 0;
    column-gap: 0.3rem;

    span,
    svg {
      height: 2.2rem;
    }
  }

  .search {
    bottom: unset;
    top: 3.5rem;
    transform: translateY(-8rem);
  }

  .searching {
    top: 7rem;
  }

  .menu_profile {
    bottom: unset;
    top: 3.5rem;
    padding: 0.3rem 0;

    li {
      height: 2.5rem;
    }
  }
}

@media (min-width: 1024px) {
  .buttons .menu_buttons {
    width: 12rem;
  }
}

@media (prefers-reduced-motion: reduce) {
  .menu_profile__active {
    transition: none;
  }

  .search,
  .search__active {
    transition: none;
  }
}
