.mobileAlaTabbar,
.otherAlaTabbar {
  display: flex;
  justify-content: space-around;
  width: 100dvw;
  max-width: 31rem;
  margin: 0 auto;

  .leftPart {
    padding: 0 0.3rem;
    border-radius: 2rem;
    background-color: var(--primary__opacity);
    box-shadow: 0 0.25rem 1.25rem rgba(0, 0, 0, 0.1);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
  }

  .menu_buttons {
    height: 90%;
    width: 4.1rem;
    display: flex;
    flex-direction: column;
    gap: 0;
    border-radius: 2rem;
    padding: 0.25rem 0.5rem;
    font-size: 0.75rem;

    &:active {
      p,
      svg {
        color: var(--text);
        fill: var(--text);
        stroke: var(--text);
      }
    }

    svg,
    span#avatar {
      width: 2rem;
      height: 2rem;
      display: flex;
      justify-content: center;
      align-items: center;
      color: inherit;

      path,
      circle {
        stroke: var(--text);
        color: var(--text);
      }
    }
  }

  #searchInput {
    width: 3.5rem;
    height: 3.5rem;
    margin: auto 0.25rem;
    border-radius: 50%;
    background-color: var(--primary__opacity);
  }
}

.otherAlaTabbar {
  display: none;
  max-width: 38rem;
  border-radius: 2rem;
  background-color: var(--primary__opacity);
  box-shadow: 0 0.25rem 1.25rem rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);

  .menu_buttons {
    width: unset;
    flex-direction: row;
    gap: revert-layer;
    margin: auto;
    font-size: 1rem;
  }
}

.search {
  width: 100%;
  max-width: 31rem;
  position: absolute;
  bottom: 4.5rem;
  left: 0;
  right: 0;
  margin: auto;
  padding: 0.45rem;
  border-radius: 1rem;
  border: 0.1rem solid var(--secondary);
  background-color: var(--secondary__opacity);
  transform: translateY(8.5rem);
  transition: transform 0.9s 0.1s ease-in-out;
  box-shadow: 0 0.25rem 1.25rem rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: blur(3.5px);
  backdrop-filter: blur(3.5px);

  input::placeholder,
  input {
    color: var(--text);
  }

  div {
    right: 0;
    max-width: 9rem;

    .rightButton,
    svg {
      background-color: inherit;
      border-color: transparent;
      width: 1.6rem;
      height: 1.6rem;
      margin-right: 0.3rem;
      cursor: pointer;
    }
  }
}

.shortcut {
  display: none;
}

.clearPhrase {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 3.9rem;
  color: var(--text);
  z-index: 22222;

  svg {
    width: 1.5rem;
    height: 1.5rem;

    path {
      stroke-width: 3rem;
    }
  }
}

.searching {
  width: 100%;
  max-width: 31rem;
  min-height: 10rem;
  max-height: calc(100vh - 8rem);
  position: inherit;
  top: 0;
  left: 0;
  right: 0;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: 0.45rem;
  border: 0.1rem solid var(--secondary);
  border-radius: 0.5rem;
  background-color: var(--secondary__opacity);
  font-size: 1.2rem;
  scroll-behavior: smooth;
  overflow: hidden auto;
  z-index: 2;
  box-shadow: 0 0.25rem 1.25rem rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);

  .closeButton {
    width: inherit;
    display: flex;
    justify-content: flex-end;

    button {
      margin-right: 0.5rem;
      margin-top: 0.5rem;
      border-radius: 0.5rem;

      svg {
        width: 1.5rem;
        height: 1.5rem;
      }
    }
  }

  .searchValues {
    width: inherit;
    padding: 1rem 0.5rem;
    font-size: 1.5rem;
  }

  .searchResults {
    padding: 1.5rem 0;
  }

  .dataSearching {
    padding: 0 0.5rem;

    .categoryName {
      padding: 1rem 0.5rem;
    }

    .data {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 1rem;
      font-size: 1rem;
    }
  }
}

div.search__active {
  transform: translate(0);
  transition: transform 0.9s 0.1s ease-in-out;
}

.menu_profile {
  transform: translate(17rem);
  transition: transform 1s 0.1s ease-in-out;
  height: max-content;
  position: absolute;
  right: 0;
  bottom: 5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0.2rem 0 0.4rem;
  border-radius: 0.5rem 0 0 0.5rem;
  background-color: var(--primary__opacity);
  box-shadow: 0 0.25rem 1.25rem rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: blur(3.5px);
  backdrop-filter: blur(3.5px);

  li {
    width: 8rem;
    height: 3rem;

    a,
    button {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1.2rem;
      color: inherit;

      &:hover {
        background-color: var(--hover);
        border-radius: 0.4rem;
      }
    }

    a:hover {
      color: black;
    }

    button {
      background-color: transparent;
      border: transparent;
      color: black;
      font-weight: normal;
    }
  }
}

ul.menu_profile__active {
  transform: translateX(0);
  transition: transform 1.2s 0.1s ease-in-out;
}

@media (min-width: 768px) {
  .mobileAlaTabbar {
    display: none;
  }

  .otherAlaTabbar {
    display: flex;
  }

  .menu_buttons {
    gap: 0 0.3rem;

    span,
    svg {
      height: 2.2rem;
    }
  }

  .search {
    bottom: unset;
    top: 3.5rem;
    transform: translateY(-8rem);
  }

  .shortcut {
    display: flex;
    position: absolute;
    right: 3.9rem;
    border: 2px solid var(--opacity);
    padding: 0.3rem 0.6rem;
    background: var(--opacity);
    border-radius: 0.25rem;
    opacity: 0.75;
  }

  .clearPhrase {
    right: 11.5rem;
  }

  .searching {
    top: 7rem;
  }

  .menu_profile {
    bottom: unset;
    top: 3.5rem;
    padding: 0.3rem 0;

    li {
      height: 2.5rem;
    }
  }
}

@media (prefers-reduced-motion: reduce) {
  .menu_profile__active {
    transition: none;
  }

  .search,
  .search__active {
    transition: none;
  }
}
