.account__data {
  margin: 2rem 0;
  display: flex;
  flex-direction: column;

  .form {
    display: flex;
    flex-flow: column wrap;
    margin: 1.5rem 0;

    @media (min-width: 516px) {
      margin: 2rem 0;
    }

    .title {
      height: 3rem;
      display: inline-block;
      font-size: 1.6rem;
      margin-bottom: 1rem;
    }

    .flow {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-size: 1.4rem;
    }

    .input,
    .input__error {
      width: min(95dvw, 21.5rem);
      margin: 0.5rem auto;
      border-radius: 1rem;
      padding: 0.75rem;
      background-color: transparent;
      color: var(--text);

      &::placeholder {
        color: var(--text__opacity);
      }
    }

    .input {
      border-color: var(--third);
    }

    .input__error {
      border-color: var(--required);
    }

    .button {
      height: 3rem;
      padding: 0.5rem 1.5rem;
      width: min(95dvw, 21.5rem);
    }

    .planButton {
      width: max-content;
      margin: unset;
    }
  }
}

div.subscriptionForm {
  position: absolute;
  left: 0;
  right: 0;
  width: min(95dvw, 29rem);
  height: max-content;
  padding: 2rem 1rem;
  margin: auto;
  border-radius: 1.5rem;
  background-color: var(--background);
  box-shadow:
    0px -6px 1.4rem var(--third),
    0px 6px 1.4rem var(--third);

  .titleSubscription {
    margin: 0 2rem;
  }
  header {
    border-bottom: transparent;
  }

  &:focus {
    box-shadow: 0 0 0 3px transparent;
  }

  .selectSub {
    margin: 2rem 2rem 0;

    form {
      display: flex;
      flex-direction: column;
      gap: 1rem;

      select {
        width: 100%;
        background: var(--background);
        border: 1px solid var(--text);
        padding: 0.5rem;
        border-radius: 0.5rem;
        cursor: pointer;

        option {
          background-color: var(--background);
        }
      }

      &__error {
        color: var(--required);
        margin-bottom: 0.5rem;
      }

      .req__error {
        border-color: var(--required);

        &:focus {
          border-color: inherit;
        }
      }

      .message {
        font-size: 1rem;

        a {
          text-decoration: underline;
        }
      }

      .buttonContainer {
        display: flex;
        justify-content: flex-end;
        gap: 1rem;
        margin: 1rem 0 0 0.5rem;

        button {
          width: fit-content;
          padding: 0.5rem 1rem;
          font-size: 1rem;
          border-radius: 0.5rem;
          border: transparent;

          &:last-child {
            border: 1px solid var(--primary);
            color: var(--primary);
          }
        }
      }
    }
  }
}