@use '../../../styles/variables' as *;

.account__data {
  margin: 2rem 0;
  display: flex;
  flex-direction: column;

  .form {
    display: flex;
    flex-flow: column wrap;
    margin: 1.5rem 0;

    @media (min-width: 516px) {
      margin: 2rem 0;
    }

    .title {
      height: 3rem;
      display: inline-block;
      font-size: 1.6rem;
      margin-bottom: 1rem;
    }

    .flow {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-size: 1.4rem;

    }

    .input, .input__error {
      max-width: 17.5rem;
      height: 2.5rem;
      margin: .5rem auto;
      border-radius: 1rem;

      &:placeholder-shown {
        color: $dark__background__light__color;
      }
    }

    .input {
      border-color: $third__color;
    }

    .input__error {
      border-color: $required__color;
    }

    button.planButton {
      margin: unset;
    }

    .button {
      width: fit-content;
      height: 2.5rem;
      margin: 1rem auto;
      border-radius: .5rem;
      font-weight: bold;
      background-color: transparent;
      border: .1rem solid $secondary__color;
    }
  }

  .form_dark input {
    color: $dark__color__light__back;
  }
}

section.subscription, section.subscription__dark {
  max-width: inherit;
  right: 1rem;

  .closeButton {
    border-color: transparent;
  }

  &:focus {
    box-shadow: 0 0 0 3px transparent
  }

  button {
    cursor: pointer;
  }

  .selectSub, .selectSub__dark {
    margin-bottom: 1rem;

    select {
      border-color: $third__color;
      cursor: pointer;
    }

    &__error {
      color: $required__color;
      margin-bottom: .5rem;
    }

    .req__error {
      border-color: $required__color;
    }
  }

  .selectSub {
    select {
      option {
        background-color: $dark__color__light__back;
      }
    }

    div {
      color: $dark__background__light__color;
    }
  }

  .selectSub__dark {
    select {
      color: $dark__color__light__back;

      option {
        background-color: $dark__background__light__color;
        color: $dark__color__light__back;
      }
    }

    div {
      color: $dark__color__light__back;
    }
  }

  .message {
    margin: 1rem 0 2rem;

    a {
      text-decoration: underline $third__color;
    }
  }

  .buttonContainer {
    display: flex;
    justify-content: flex-end;
    margin-bottom: -.5rem;

    button {
      border-color: transparent;
    }
  }

  footer {
    display: flex;
    justify-content: flex-end;

    button {
      border-color: transparent;
      color: $dark__color__light__back;
    }
  }
}

section.subscription {
  background-color: $dark__color__light__back;

  .arrow {
    background-color: $dark__color__light__back !important;
  }

  header {
    color: $dark__background__light__color;
  }

  .closeButton {
    color: $dark__background__light__color;
  }

  .message, .message a {
    color: $dark__background__light__color;
  }

  footer button:first-of-type {
    color: $dark__background__light__color;
  }
}

section.subscription__dark {
  background-color: $dark__background__light__color;

  .arrow {
    background-color: $dark__background__light__color !important;
  }

  header {
    color: $dark__color__light__back;
  }

  .closeButton {
    color: $dark__color__light__back;
  }

  .message, .message a {
    color: $dark__color__light__back;
  }
}

@media (min-width: 768px) {
  section.subscription, section.subscription__dark {
    right: 0;
  }
}
