.alert {
  width: fit-content;
  max-width: 20.5rem;
  display: flex;
  gap: .75rem;
  align-items: flex-start;
  position: absolute;
  padding: 1rem 2rem;
  margin: 1rem auto;
  border-radius: .5rem;
  bottom: -6rem;
  right: 0;
  left: 0;
  z-index: 1;
  border: 1px solid var(--opacity);

  .icon {
    font-size: 1.25rem;
    line-height: 1;
  }
}