.form {
  display: grid;
  justify-content: center;

  .container {
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 1rem;
    justify-items: flex-start;

    &:first-child input {
      padding: 0.45rem;
      border-radius: 1rem;

      color: var(--text__opacity);
    }

    .title {
      padding-top: 0.45rem;
      color: var(--text);
    }

    .input,
    .description {
      padding: 0.45rem 1rem;
      max-width: 17.5rem;
      height: 2.5rem;
      margin: 0.5rem auto;
      border-color: var(--third);
      border-radius: 1rem;
      color: var(--text__opacity);

      &::placeholder {
        color: var(--text__opacity);
      }

      &__error {
        border-color: var(--required);
        color: var(--text-required);
      }
    }
  }

  .error_profile,
  .error_wrap p {
    margin: 0.5rem 1rem;
    font-size: 1.2rem;
    color: var(--required);
  }
}

.button {
  width: 100%;
  height: 2.5rem;
  margin: 1rem auto;
  border-radius: 1rem;
  font-weight: bold;
  border: 0.1rem solid var(--secondary);
}