.account__data {
  margin: 2rem auto;
  display: grid;
  grid-template-columns: repeat(1, 1fr);

  @media (min-width: 516px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: 773px) {
    grid-template-columns: repeat(3, 1fr);
  }
}

