@use 'styles/variables' as *;

.account__data {
  margin: 2rem auto;
  display: grid;
  grid-template-columns: repeat(1, 1fr);

  @media (min-width: 719px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: 1400px) {
    grid-template-columns: repeat(3, 1fr);
  }


  .form {
    display: flex;
    flex-flow: column wrap;
    margin: 1.5rem auto;

    @media (min-width: 516px) {
      margin: 2rem auto;
    }

    .subscription {
      margin: .5rem auto 1rem;
      font-size: 1.4rem;
    }

    .title {
      width: 100%;
      height: 3rem;
      display: inline-block;
      font-size: 1.6rem;
      margin-bottom: 1rem;
      text-align: center;
    }

    .input {
      width: 13rem;
      height: 2.5rem;
      margin: .5rem auto;
      border-color: $third__color;
      border-radius: 1rem;
    }

    .button {
      width: 13rem;
      height: 2.5rem;
      margin: .5rem auto;
    }
  }
}

section.subscription, section.subscription__dark {
  max-width: 100vw;

  .closeButton {
    border-color: transparent;
  }

  &:focus {
    box-shadow: 0 0 0 3px transparent
  }

  button {
    cursor: pointer;
  }

  .selectSub, .selectSub__dark {
    margin-bottom: 1rem;

    select {
      border-color: $third__color;
      cursor: pointer;
    }

    &__error {
      color: $required__color;
      margin-bottom: .5rem;
    }

    .req__error {
      border-color: $required__color;
    }
  }

  .selectSub {
    select {
      option {
        background-color: $dark__color__light__back;
      }
    }

    div {
      color: $dark__background__light__color;
    }
  }

  .selectSub__dark {
    select {
      color: $dark__color__light__back;

      option {
        background-color: $dark__background__light__color;
        color: $dark__color__light__back;
      }
    }

    div {
      color: $dark__color__light__back;
    }
  }

  .message {
    margin: 1rem 0 2rem;

    a {
    text-decoration: underline $third__color;
    }
  }

  .buttonContainer {
    display: flex;
    justify-content: flex-end;
    margin-bottom: -.5rem;

    button {
      border-color: transparent;
    }
  }

  footer {
    display: flex;
    justify-content: flex-end;

    button {
      border-color: transparent;
      color: $dark__color__light__back;
    }
  }
}

section.subscription {
  background-color: $dark__color__light__back;

  .arrow {
    background-color: $dark__color__light__back !important;
  }

  header {
    color: $dark__background__light__color;
  }

  .closeButton {
    color: $dark__background__light__color;
  }

  .message, .message a {
    color: $dark__background__light__color;
  }

  footer button:first-of-type {
    color: $dark__background__light__color;
  }
}

section.subscription__dark {
  background-color: $dark__background__light__color;

   .arrow {
    background: $dark__background__light__color !important;
  }

  header {
    color: $dark__color__light__back;
  }

  .closeButton {
    color: $dark__color__light__back;
  }

  .message, .message a {
    color: $dark__color__light__back;
  }
}
