@use 'styles/_variables' as *;

.container {
	margin: 1rem 0 1rem 1rem;
	border-left: 0.1rem solid $third__color;

	.comment {
		display: grid;
		grid-template-columns: 3rem 1fr;
		align-items: center;

		.avatar {
			width: 2rem;
			height: 2rem;
			margin: .5rem;
			align-self: flex-start;
		}

		.rightSideComment {
			display: flex;
			flex-direction: column;
			margin: 0.5rem 0.5rem 0.5rem 0;

			.topPartComment {
				display: grid;
				grid-template-columns: 1fr 1fr;
				justify-content: space-between;
				align-items: center;
				padding: 0 0.5rem 0.5rem 0;

				.pseudonym {
					font-size: 1.2rem;
					text-align: inherit;
					font-style: oblique;
				}

				.date {
					text-align: right;
					font-size: .9rem;
				}
			}

			.text {
				font-size: 1rem;
				text-align: inherit;
			}
		}
	}
}
