.updateLogo {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 2.8rem;
  height: 2.8rem;
  margin: 0 0.5rem;
  font-size: 1.4rem;
  border: 0.1rem solid var(--primary);
  border-radius: 0.75rem;
  background-color: var(--primary);
  color: black;
}

.logoContent {
  margin: auto;
  background-color: var(--background);

  .logoHeader {
    margin: 2rem 2rem 1.5rem;
    color: var(--primary);
  }

  .logBody,
  .logBody__error {
    width: 100%;
    margin: 1rem 0;
    padding: 0 2rem;

    input,
    .filePickerButton {
      width: 100%;
      padding: 0.35rem 1.5rem;
      border-radius: 1rem;
      border: 1px solid var(--third);
      color: var(--text__opacity);
    }

    .filePickerButton {
      background-color: var(--background);
    }

    img {
      margin: 2rem auto 0;
      display: flex;
      justify-content: center;
      border-radius: 1rem;
      object-fit: contain;
      position: static !important;
    }
  }

  .logBody__error,
  p {
    border-color: var(--required);
  }

  .logoFooter {
    margin: 1rem 2rem 1.5rem;
  }

  .closeTrigger {
    color: var(--primary);
    border-color: transparent;
  }
}
