.settings {
  width: min(90dvw, 38rem);
  margin: -3rem auto 5rem;

  h2 {
    margin-bottom: 3rem;
    font-size: 2rem;
    color: var(--third);
  }

  .flow {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    font-size: 1.4rem;
  }

  footer {
    margin: 5rem auto 3rem;

    .links {
      display: flex;
      width: 100%;
      margin: 1rem 0;
      padding: .5rem;
      text-align: left;
      border-color: transparent;
    }
  }

  @media (min-width: 768px) {
    margin-top: 3rem;
  }
}
