.settings {
  width: 90vw;
  margin: -3rem auto 5rem;
  //min-height: 87.1vh;

  h2 {
    margin-bottom: 3rem;
    font-size: 2rem;
    color: var(--third);
  }

  .flow {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    font-size: 1.4rem;
  }

  footer {
    margin: 2rem auto 2rem;

    .links {
      display: flex;
      width: 100%;
      margin: 1rem 0;
      padding: .5rem;
      text-align: left;
      font-size: 1rem;
      border-color: transparent;
    }
  }

  @media (min-width: 768px) {
    max-width: 31rem;
    margin-top: 3rem;
  }

  @media (min-width: 1250px) {
    max-width: 35rem;
  }
}
