@use 'styles/variables' as *;

.footer {
  display: flex;
  position: relative;
  background-color: $third__background__color;

  .button {
    width: 20%;
    background-color: inherit;
    border: 0;
    cursor: pointer;
  }
}

/*LANGUAGES*/

.languages {
  width: 10rem;
  height: 0;
  display: flex;
  position: absolute;
  font-size: 1.2rem;
  bottom: 3rem;
  right: 0;
  opacity: 0;
  visibility: hidden;

  .languages__version {
    display: inline-flex;
    width: 4rem;
    justify-content: center;
    align-items: center;
    background-color: $secondary__background__color;
    margin: 0 auto;
  }
}

@media (min-width: 717px) {
  .footer {
    height: 2.5rem;
  }
}

@media (min-device-width: 950px) and (max-device-width: 1306px) {
  .languages {
    right: 2vw;
  }
}

@media (min-width: 1307px) and (max-width: 1439px) {
  .languages {
    right: 4vw;
  }
}

@media (min-width: 1440px) and (max-width: 1610px) {
  .languages {
    right: 5vw;
  }
}

@media (min-width: 1611px) and (max-width: 2049px) {
  .languages {
    right: 6vw;
  }
}

@media (min-width: 2050px) {
  .languages {
    right: 7vw;
  }
}

.languages__active {
  height: 2rem;
  opacity: 1;
  visibility: visible;
  transition: all 0.5s ease-in-out;
}
