@use 'styles/variables' as *;

.showForm {
	width: 10rem;
	height: 2.5rem;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: transparent;
	border: .2rem solid $third__color;
	border-radius: 10rem;
	font-size: 1rem;
	margin-left: 1rem;
	cursor: pointer;
}
.title {
	max-width: 95%;
	margin: 1rem auto;
	padding: 1rem 2rem;
	text-align: left;
	color: $third__color;
}

.description {
	max-width: 95%;
	min-height:9vh;
	max-height: 60vh;
	margin: auto;
	color: $third__color;
	padding: 1rem 2rem;
	text-align: left;
}

.addingButton {
	margin: 1rem auto;
	background: $third__color;
	border-color: $third__color;
	cursor: pointer;
}

.hiding {
	display: none;
}