@use 'styles/variables' as *;

.user__gallery__in__account {
	width: 100%;
}

.title {
	font-size: 2rem;
	display: inline-block;
	margin: 3rem auto;
}

.user__drawings {
	display: flex;
	flex-direction: column;
	width: 100vw;
	max-width: 40rem;
	justify-content: center;
	align-items: center;
	margin: 2rem auto;
	//scroll-behavior: smooth;
	//overflow-x: auto;
	//scrollbar-width: auto;
	//scrollbar-color: $another__color $fourth__color;

	@media (min-width: 2000px) and (min-height: 1366px) {
		max-width: 50vw;
	}
}
