.alert {
  width: fit-content;
  max-width: 20.5rem;
  display: flex;
  gap: .75rem;
  align-items: center;
  position: absolute;
  padding: 1rem 2rem;
  margin: 1rem auto;
  border-radius: .5rem;
  bottom: -6rem;
  right: 0;
  left: 0;
  z-index: 1;
  border: 1px solid var(--opacity);

  .icon {
    font-size: 1.25rem;
    line-height: 1;
  }
}

#success {
  background-color: var(--fourth);
  border-color: var(--fourth);
}

#error {
  background-color: var(--required);
  border-color: var(--required);
}

#warning {
  background-color: var(--primary);
  border-color: var(--primary);
}

#info {
  background-color: var(--third);
  border-color: var(--third);
}