.header {
  width: 100%;
  position: fixed;
  bottom: 0;
  display: flex;
  z-index: 9999;
  padding: 1rem .5rem;
}

@media (min-width: 768px) {
  .header {
    height: 3.5rem;
    top: 0;
    bottom: unset;
  }
}
