.mainContainer {
  width: 42.5rem;
  max-width: 95vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  margin: 2rem auto 1rem;
  gap: 1rem;

  .logo {
    width: min(23rem, 95%);
    margin: auto;
    padding: 0 1.5rem;
    position: relative;

    img {
      position: static !important;
      border: 1rem solid transparent;
      border-radius: 3rem;
    }
  }
}

