@use 'styles/variables' as *;

.forgotten {
  height: 75vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .borderContainer {
    margin: auto;
    padding: 4rem 9% 3rem;
    box-shadow: 0 0 1.4rem $third__color;
    border-radius: 2rem;
    width: 30rem;
    max-width: 98vw;

    .title {
      font-size: 1.6rem;
    }

    .subtitle {
      margin: 2rem auto;
      font-size: 1.3rem;
    }

    .inputForm, .inputForm__error {
      display: block;
      width: 17rem;
      max-width: 90%;
      margin: 1rem auto 1.5rem;
      color: $third__color;
    }

    .inputForm {
      border-color: $third__color;
    }

    .inputForm__error {
      border-color: $required__color;
    }

    .submit__button {
      width: 11rem;
      margin: 1rem auto;
    }
  }

}