.comments {
  width: 95%;
  display: grid;
  grid-template-columns: 3rem 1fr;
  margin: 2rem auto 0;
  padding: 0 0.25rem;

  .text {
    color: var(--third);
  }

  img {
    width: 0.625rem;
    height: 0.625rem;
    margin-top: .4rem;
  }
}

.addingButton {
  display: flex;
  justify-content: flex-start;
  background-color: var(--third);
  border-color: var(--third);
  margin: 1rem 0 2rem 4rem;
  cursor: pointer;
}