@use 'styles/variables' as *;

.mainData {
  justify-items: center;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  margin: 2rem auto 1.5rem;
  font-size: 1.2rem;
}

.logo {
  width: 11.25rem;
  height: 11.25rem;
  padding: 0 1.5rem;
  position: relative;

  img {
    border: .3rem inset $secondary__color;
    border-radius: 3rem;
    box-shadow: 0 0 15rem -.3rem $secondary__color;
  }

  .updateLogo {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 2.8rem;
    height: 2.8rem;
    margin: 0 .5rem;
    font-size: 1.4rem;
    border: .1rem solid $primary__color;
    border-radius: .75rem;
    background-color: $primary__color;
    color: black;
    cursor: pointer;
  }

  .modal {
    background-color: $dark__background__light__color !important;
    color: $primary__color !important;
    margin: auto;
  }
}

.name {
  display: flex;
  align-items: flex-end;
  line-height: 1.2;
  margin-top: 1.5rem;
}

.edit {
  background: $third__color;
  border-color: $third__color;
}

.cancel {
  background: $primary__color;
  border-color: $another__color;
}

@media (min-width: 768px) {
  .mainData {
    grid-template-columns: 11.25rem 1fr;

    .name {
      margin-left: 1rem;
    }
  }
}