.dark {
   background-color: var(--background);

  button {
    color: var(--text);
  }
}

.main__container--dark {
  color: var(--text);

  a {
    color: var(--text);

    &:visited {
      color: var(--third);
    }

    &:focus {
      color: var(--focus);
    }

    &:hover {
      color: var(--hover);
    }

    &:active {
      color: var(--active);
    }
  }
}
