* {
  box-sizing: border-box;
  font-family:
    'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', sans-serif;
}

html {
  scrollbar-width: thin;
  scrollbar-color: var(--background) black;

  &:hover {
    scrollbar-color: var(--secondary) black;
  }

  &:active {
    scrollbar-color: var(--secondary) black;
  }

  &::-webkit-scrollbar {
    width: 10px;
  }

  &::-webkit-scrollbar-track {
    background-color: black;
  }

  &::-webkit-scrollbar-thumb {
    background: var(--background);
  }

  &::-webkit-scrollbar-thumb:hover {
    background: var(--secondary);
    border-radius: 20px;
  }

  &::-webkit-scrollbar-thumb:active {
    background: var(--secondary);
    border-radius: 20px;
  }
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.2rem;
}

a {
  text-decoration: none;
  color: var(--primary);
  cursor: pointer;

  &:visited {
    color: var(--visited);
  }

  &:focus {
    color: var(--focus);
  }

  &:hover {
    color: var(--hover);
  }

  &:active {
    color: var(--active);
  }
}

button {
  background-color: transparent;
  cursor: pointer;
  color: var(--text);


  &:focus {
    background-color: var(--focus);
    color: var(--background);
  }

  &:hover, &:last-child:hover {
    background-color: var(--hover);
    color: var(--background);
  }

  &:active {
    background-color: var(--active);
    color: var(--text);
  }
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.25rem 1.5rem;
  font-size: 1rem;
  width: fit-content;
  height: 2.5rem;
  margin: 1rem auto;
  border-radius: 0.5rem;
  font-weight: bold;
  background-color: transparent;
  border: 0.1rem solid var(--secondary);
  cursor: pointer;

  &:hover {
    background-color: var(--secondary);
  }
}

p,
span,
h1,
h2,
h3,
h4,
h5,
h6,
svg:not([class]),
svg[class*='_icon'],
button a {
  color: var(--text);
}

button[class*='__choosePlan']:focus svg {
  color: var(--backgorund);
}
