.adding__files {
    display: flex;
    flex-flow: column wrap;

  .input {
    width: 14rem;
    margin: .5rem auto;
  }

  .icons {
    font-size: 1.4rem;
    margin: .4rem;
  }

  .tags {
    width: 10rem;
    margin: .5rem auto;

    .options {
      font-size: 1rem;
      margin: .2rem 0;
    }
  }

  .button {
    width: 8rem;
    margin: .5rem auto;
  }
}