.form__field {
  display: flex;
  margin: 0.7rem auto;
  flex-direction: row;

  .label {
    display: inherit;
    width: 7rem;
    margin: 0 0.8rem;
    justify-content: flex-start;
    font-size: 1.3rem;
  }

  .input {
    width: 7rem;
    margin: 0;

    @media (min-width: 317px) {
      width: 10rem;
    }
  }
}