.form__field {
  display: flex;
  margin: 0.7rem 8%;
  flex-flow: row wrap;

  .label {
    display: inherit;
    width: 7rem;
    margin: .5rem auto;
    justify-content: center;
    align-self: center;
    font-size: 1.3rem;
  }

  .input {
    width: 60vw;
    margin: .5rem auto;
    max-width: 11rem;
  }
}