.form, .form__dark {
	width: 100%;
	max-width: 29rem;
	padding: 0 1rem;

	select.tags, input, textarea {
		&:hover {
			border-color: rgba(79, 141, 255, .5);
		}
	}

	input::placeholder, textarea::placeholder {
		color: var(--third);
	}

	input, textarea, button {
		margin: 1rem 0;
		border-color: var(--third);
	}

	.select, .select__dark {
		margin: 1rem 0;
		color: var(--third);

		.tags, .tags__error {
			font-size: 1rem;
			color: var(--third);
			border-color: var(--third);

			&__error {
				border-color: var(--required);
			}

			option {
				background-color: var(--background);
			}
		}

		&__dark {
			.tags, .tags__error {
				font-size: 1rem;
				border-color: var(--third);
				color: var(--third);
				 background-color: var(--background);

				&__error {
					border-color: var(--required);
				}

				option {
					color: inherit;
					background-color: inherit;
				}
			}
		}
	}

	.titleInput__error, .message_error {
		border-color: var(--required);
	}

	.button {
		width: 6rem;
		padding: .5rem 0;
		border-radius: 0.5rem;
		background-color: transparent;
		cursor: pointer;
		margin-left: .25rem;

		&:hover {
			background-color: var(--third);
			color: var(--text);
		}
	}
}

.form__dark {
	input, textarea, button {
		color: var(--third);
	}
}