@use 'styles/variables' as *;

.h3 {
  margin: 2rem 0;
}

.aside,
.aside__right {
  transition: transform 0.3s 0.1s ease-in-out;
}

.aside {
  width: 14vw;
  font-size: 1.5rem;
  padding: 9rem 0 0;
  background-color: $aside__background__color;
  z-index: 2;

  &__right {
    width: 3rem;
    height: 5rem;
    display: none;
    margin-left: 29rem;
    font-size: 2rem;
    background-color: $another__background__color;
    cursor: pointer;
    border: 0;
  }

  .contact {
    height: 4rem;
    margin-top: 4rem;
    padding: 1rem 0;
    background: $another__background__color;
  }
}

@media (min-width: 280px) and (max-width: 424px) {
  .aside {
    width: 29rem;
    position: absolute;
    margin-left: -29rem;

    &__right {
      display: inline-block;
    }
  }
}

@media (min-width: 425px) and (max-width: 1023px) {
  .aside {
    width: 29rem;
    position: absolute;
    margin-left: -29rem;

    &__right {
      display: inline-block;
    }
  }
}

@media (min-width: 1024px) {
  .aside {
    width: 27rem;
  }
}

.aside--active {
  margin-left: 0;
  transition: margin-left 0.8s ease-in-out;
}

.first__h3 {
  margin-top: -3rem;
  margin-bottom: 0;
}
