@use 'styles/variables' as *;

.aside, .aside__right {
  transition: transform 0.3s 0.1s ease-in-out;
}

.aside {
  width: 17rem;
  font-size: 1.5rem;
  position: absolute;
  margin: 3rem 0 0 -17rem;
  background-color: $secondary__color;
  z-index: 2;

  &__right {
    width: 2.5rem;
    height: 3.5rem;
    position: sticky;
    top: 8rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin: 7rem 0 0 100%;
    border: 0;
    background-color: $another__color;
    cursor: pointer;
  }

  .h3 {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 3rem;
    justify-items: center;
    align-items: center;
    margin-top: -6rem;
    cursor: pointer;

    p {
      width: 100%;
      padding-left: 1rem;
    }
  }

  .container {
    display: flex;
  }

  .hidden__categories {
    display: none;
  }

  .contact {
    margin: 0 auto;
    padding: 1rem;
    background: $another__color;
    text-align: center;
  }
}

@media (min-width: 982px) {
  .aside {
    position: sticky;
    margin: 0;
    padding: 5rem 0 0;
    top: -0.2rem;
    overflow: hidden auto;
    height: 100vh;
    max-height: 95%;
    scrollbar-width: thin;
    scrollbar-color: $another__color $fourth__color;

    &:active {
      scrollbar-color: $fourth__color $another__color;
    }

    &::-webkit-scrollbar {
      width: 10px;
    }

    &::-webkit-scrollbar-track {
      background-color: $fourth__color;
    }

    &::-webkit-scrollbar-thumb {
      background: $another__color;
    }

    &::-webkit-scrollbar-thumb:hover {
      width: 15px;
    }

    &::-webkit-scrollbar-thumb:hover {
      background: $third__color;
      border-radius: 20px;
    }

    &::-webkit-scrollbar-thumb:active {
      background: $another__color;
      border-radius: 20px;
    }

    &__right {
      display: none;
    }

    .h3 {
      margin: 1rem 0;
    }

    .afterHidden {
      margin-bottom: 2rem;
    }
  }
}

.first__h3 {
  margin-top: -3rem;
  margin-bottom: 0;
}
.aside__active {
  margin: 3rem 0 0 0;
  transition: margin-left 0.8s ease-in-out;
}
