.container {
  width: 100%;
  min-height: 87vh;
  display: flex;
  flex-direction: column;

  .title {
    margin: -1rem auto 0;
  }

  .param {
    width: 40rem;
    max-width: 90vw;
    line-height: 1.6;
    margin: 3rem auto 0;
    font-size: 1.2rem;

    &:last-child {
      margin-bottom: 6rem;
    }
  }

  @media (min-width: 768px) {
    .title {
      margin: 2rem auto 1rem;
    }
  }

  @media (min-width: 2000px) {
    .param {
      width: 62rem;
    }
  }
}