.header {
  width: 100%;
  position: fixed;
  bottom: 0;
  display: grid;
  grid-template-columns: 5rem 1fr auto;
  z-index: 9999;
  padding: 0.2rem 0;

  .title {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    img {
      border-radius: 50%;
    }
  }

  .desktop_nav {
    display: none;
  }

  .menu_buttons {
    width: 5.5rem;
    height: 90%;
    display: flex;
    flex-direction: column;
    font-size: 0.85rem;
    justify-self: end;
    align-items: center;
    margin: auto 0;
    padding: 0.2rem 0;
    background: inherit;
    color: var(--text);
    background-color: var(--primary__opacity);
    box-shadow: 0 0.25rem 1.25rem rgba(0, 0, 0, 0.1);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    cursor: pointer;

    &:first-child, &:first-of-type {
      border-radius: 2rem 0 0 2rem;
    }

    &:last-child {
      border-radius: 0 2rem 2rem 0;
    }

    svg {
      width: 2.2rem;
      height: 2.2rem;
    }

    &:hover {
      background-color: var(--hover);
      color: var(--text);
    }

    &:active {
      background-color: var(--active);
      color: var(--text);
    }

    &:focus {
      background-color: var(--focus);
    }
  }
}

@media (min-width: 768px) {
  .header {
    top: 0;
    bottom: unset;
    display: grid;

    @media (min-width: 768px) {
      #settings_button {
        display: none;
      }
    }

    .desktop_nav {
      height: inherit;
      display: flex;
      justify-self: end;
      align-items: center;
    }
  }
}
