.header {
  width: 100%;
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  padding: 1rem .5rem;
  z-index: 9999;

  .title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto 0.5rem;
    cursor: pointer;

    img {
      border-radius: 50%;
    }
  }

  .desktop_nav {
    display: none;
  }

  .mobileButtons {
    width: unset;
    display: flex;
    gap: 0.5rem;
    justify-content: flex-end;
    border-radius: 2rem;
    padding: 0.25rem;
    background-color: var(--primary__opacity);
    box-shadow: 0 0.25rem 1.25rem rgba(0, 0, 0, 0.1);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);

    .menu_buttons {
      width: 3.5rem;
      height: 3.5rem;
      display: flex;
      flex-direction: column;
      font-size: 0.8rem;
      justify-self: end;
      align-items: center;
      margin: auto 0;
      padding: 0.2rem 0;
      border-radius: 2rem;
      color: var(--text);
      cursor: pointer;

      svg {
        width: 2rem;
        height: 2rem;
      }

      &:hover {
        background-color: var(--hover);
        color: var(--text);
      }

      &:active {
        background-color: var(--active);
        color: var(--text);
      }

      &:focus {
        background-color: var(--focus);
      }

      p {
        font-size: 0.75rem;
      }
    }
  }
}

@media (min-width: 768px) {
  .header {
    top: 0;
    bottom: unset;
    display: grid;
    grid-template-columns: 3rem 1fr auto;

    .title {
      width: 3rem;
      height: 3rem;
    }

    #settings_button {
      display: none;
    }

    .desktop_nav {
      display: flex;
      justify-self: end;
      align-items: center;
    }

    .mobileButtons {
      height: 3rem;
      margin-right: 0.5rem;
      border-radius: 0 2rem 2rem 0;

      .menu_buttons {
        width: 2.6rem;
        height: 2.6rem;
        margin: 0 .3rem;

        p {
          font-size: .65rem;
        }
      }
    }
  }
}
