@use 'styles/variables' as *;

.create__account {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 1.9rem;
  justify-content: center;
  align-self: center;
  justify-self: center;
  padding-bottom: 4rem;
  margin: -7rem auto auto auto;
  color: $dark__background__light__color;
  background-color: $primary__color;

  form {
    display: flex;
    flex-direction: column;
    max-width: 20rem;
    margin: -2rem auto 0;

    .title {
      margin: 2.5rem auto .5rem;
      text-align: center;
      font-size: 1.8rem;
    }

    .inputForm,
    .inputForm__error {
      display: block;
      width: 17rem;
      max-width: 90%;
      margin: 1rem auto 0.5rem;
      border-color: $third__color;
      color: $dark__background__light__color;

      &::placeholder {
        color: rgba(45, 55, 72, 0.81);
      }
    }

    .showingPass {
      height: 85%;
      top: 1rem;
      right: 1.3rem;
      color: $dark__background__light__color;
      background-color: $another__color;
      border-color: $primary__color;
    }

    .inputForm {
      border-color: $third__color;

      &:hover {
        border-color: rgba(79, 141, 255, 0.7);
      }

      &__error {
        border-color: $required__color;
      }
    }

    .submit__button {
      width: 10rem;
      margin: 1.5rem auto 0rem;
      color: $dark__background__light__color;
    }
  }
}

.dividerWIthText {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  justify-content: center;
  align-items: center;
  column-gap: 1rem;
  padding: 0 2rem;

  .provider__title {
    display: inline-block;
    font-size: 1rem;
  }
}

.changeForm {
  margin: 0 auto;

  a {
    color: $secondary__color;
  }
}


.create__account .chakraAlert > div {
  position: absolute;
  bottom: 4rem;
  border-radius: 1rem;
  z-index: 1;
}

.acceptInfo {
  margin: 0 auto;
  padding: 0 2rem;
  font-size: .9rem;
}