.user__gallery__in__account {
  width: 100%;
}

.title {
  font-size: 1.8rem;
  display: inline-block;
  margin: 3rem auto;
}

.user__photos,
.like__photos {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  margin: 1.5rem auto;

  @media (min-width: 644px) and (max-width: 767px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: 874px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: 1184px) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media (min-width: 1504px) {
    grid-template-columns: repeat(4, 1fr);
  }
}


