.container {
  width: 100%;
  max-width: 95dvw;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: -1rem auto 2rem;

  .title {
    width: inherit;
    margin-left: 2.5rem;
  }

  &__section {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 1rem auto;

    .noFriends {
      margin: 1rem auto;
      font-size: 1.2rem;
    }
  }
}

@media (max-width: 767px) {
  .container .title {
      display: none;
    }
}

@media (min-width: 768px) {
  .container {
      margin: 1rem auto;
  }
}
