.options {
  .bottomPanel {
    display: grid;
    grid-template-columns: 1fr 4rem;
    margin-top: 1rem;
    align-items: center;

    .author__name {
      margin: 0.5rem 2rem;
    }
  }

  .comments {
    display: flex;
    justify-content: center;
    width: 15rem;
    max-width: 70%;
    border: 0.1rem;
    border-radius: 0.5rem;
    margin: 1rem auto;
    padding: 1.3% 0.3rem;
    font-size: 1rem;
    background-color: var(--third);
    cursor: pointer;
  }

  .linkToComments {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 1rem;
    padding: 0.5rem 0;
  }
}
