.icon {
  width: 3rem;
  height: 3rem;
  border: 0.1rem solid transparent;
  background-color: transparent;
  color: var(--text);
}

.container[data-part='trigger'] {
  position: absolute;
  top: 4.5rem;
  right: 1rem;
  display: none;

  > button {
    width: 9rem;
    border-color: var(--required);
  }

  .alert {
    position: absolute;
    top: 6.5rem;
    right: 0;
  }
}

.content[data-part='content'] {
  margin: auto;
  background-color: var(--background);
  border-radius: 0.5rem;
  z-index: 2;

  .title {
    font-size: 1.1rem;
    font-weight: bold;
  }

  .actionButton {
    .cancel {
      border-color: var(--background);
    }

    .submit {
      border-color: var(--required);
      margin-left: 3px;
    }
  }

  .closeButton {
    color: var(--primary);
    border-color: transparent;
  }

  [data-state='open'] {
    display: none;
  }

  [data-state='closed'] {
    display: flex;
  }
}
