.icon {
  width: 3rem;
  height: 3rem;
  border: 0.1rem solid transparent;
  background-color: transparent;
  color: var(--text);
}

.container {
  position: absolute;
  top: 4.5rem;
  right: 1rem;
  display: none;

  > button {
    width: 9rem;
    border-color: var(--required);
  }

  .alert {
    position: absolute;
    top: 6.5rem;
    right: 0;
  }
}

.container__active {
}

[data-scope='dialog'] {
  [data-part='content'] {
    margin: auto;
   background-color: var(--background);
   border-radius: .5rem;
   z-index: 2;

    .title {
      font-size: 1.1rem;
      font-weight: bold;
    }

    .actionButton {
      .cancel {
        border-color: var(--background);
      }

      .submit {
        border-color: var(--required);
        margin-left: 3px;
      }
    }

    [data-state='open'] {
      display: none;
    }

    [data-state='closed'] {
      display: flex;
    }
  }
}

.content {
 background-color: var(--background);
 border-radius: .5rem;
 z-index: 2;

  .title {
    font-size: 1.1rem;
    font-weight: bold;
  }

  .actionButton {
    .cancel {
      border-color: var(--background);
    }

    .submit {
      border-color: var(--required);
      margin-left: 3px;
    }
  }

  .closeButton {
    color: var(--primary);
    border-color: transparent;
  }
}
