@use 'styles/variables' as *;

.article {
  width: 18rem;
  background-color: $third__color;
  position: relative;
  justify-self: center;
  margin: .5rem;

  &:hover {
    z-index: 1;
    margin: 3.2rem;
    transform: scale(1.05);
    transition: transform .5s ease-in-out;

    .comments {
      visibility: unset;
    }
  }
}

.item {
  display: block;
  position: absolute;
  object-fit: contain;
}

.bottomPanel {
  display: grid;
  grid-template-columns: 1fr 1fr
}

.author__name {
  margin: 0.5rem 0 0.5rem 0.5rem;
  text-align: left;
}

.share__options {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.icon {
  margin: 0.4rem;
}
