.site,
.site__without__footer {
  width: 100%;
  min-height: calc(100dvh - 3.3rem);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: -7rem;

  .container {
    width: inherit;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-evenly;
    margin: 2rem auto 3rem;
    gap: 2rem;

    .welcomeContainer {
      width: 100%;
      max-width: 35rem;
      align-content: space-evenly;
      padding: 1rem;

      .title {
        margin: 2rem 0;
      }

      .subTitle {
        line-height: 1.6;
      }

      p:nth-of-type(2) {
        margin-top: 1rem;
      }
    }

    .form {
      width: 100%;
      max-width: 29rem;
      padding: 0 1rem;

      select.tags,
      input,
      textarea {
        &:hover {
          border-color: var(--third__opacity);
        }
      }

      input::placeholder,
      textarea::placeholder {
        color: var(--third);
      }

      input, textarea, .button {
        margin: 1rem 0;
        border: 1px solid var(--third);
        color: var(--third);
      }

      .select {
        width: 100%;
        margin: 1rem 0 .5rem;
        color: var(--third);

        .tags,
        .tags__error {
          width: inherit;
          margin: 0.5rem auto;
          padding: 0.75rem;
          border-radius: 1rem;
          font-size: 1rem;
          background-color: var(--background);
          border-color: var(--third);
          color: var(--third);
          box-shadow: none;

          &::picker-icon {
            padding-right: 0.25rem;
          }

          &__error {
            border: 1px solid var(--required);
            color: var(--required);
          }

          option {
            display: flex;
            justify-content: flex-start;
            gap: 1.25rem;
            border: 1px solid transparent;
            padding: 10px;
            transition: 0.4s;
            color: var(--text);
            background-color: var(--background);

            &:hover {
              background-color: var(--hover);
              color: #333;
            }

            &:focus-visible {
              background-color: var(--focus);
              color: var(--background);
            }

            &:active {
              background-color: var(--active);
              color: var(--select__color);
            }
          }
        }
      }

      select,
      .tags__error::picker(select),
      .tags::picker(select) {
        appearance: base-select;
        background-color: var(--background);
        border-radius: 1rem;
        border: 2px ridge var(--opacity);
        box-shadow: var(--box-shadow);
      }

      option::checkmark {
        display: none;
      }

      .titleInput,
      .message,
      .titleInput__error,
      .message_error {
        width: 100%;
        min-height: 3rem;
        margin: 1rem auto;
        padding: 0.75rem;
        border-radius: 1rem;
        font-size: 1rem;
        background-color: var(--background);
        border: 1px solid var(--third);
        resize: vertical;

        &::-webkit-file-upload-button {
          border: none;
          padding: 0.5rem 1rem;
          margin-right: 0.5rem;
          border-radius: 0.5rem;
          cursor: pointer;
          transition: background 0.3s;
          background-color: var(--primary);
          color: var(--background);
        }

        &__error {
          border-color: var(--required);
        }
      }

      .titleInput__error,
      .message_error {
        border-color: var(--required);

        &::placeholder {
          color: var(--required);
        }
      }

      .button {
        width: 6rem;
        padding: 0.5rem 0;
        border-radius: 0.5rem;
        background-color: transparent;
        cursor: pointer;
        margin-left: 0.25rem;

        &:hover,
        &:last-child:hover {
          border-color: var(--hover);
          background-color: var(--hover);
          color: var(--background);
        }

        &:focus {
          border-color: var(--focus);
          background-color: var(--focus);
          color: var(--background);
        }

        &:active {
          border-color: var(--active) ;
          background-color: var(--active);
          color: var(--text);
        }
      }
    }

    @media (min-width: 720px) and (min-height: 720px), (width: 740px) {
      margin: auto;
    }

    @media (min-height: 844px) and (max-height: 851px) {
      margin: 2rem auto;
    }
  }

  @media (min-width: 768px) {
    margin-top: -3rem;
  }

  @media (min-height: 820px), (height: 800px), (width: 1114px) {
    min-height: calc(100dvh - 5rem);
  }
}

@media (max-width: 719px) and (orientation: portrait) {
  .site__without__footer {
    .container .welcomeContainer .title {
      margin-top: 4rem;
    }
  }
}
