.site,
.site__without__footer {
  width: 100%;
  min-height: calc(100dvh - 3.3rem);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: -7rem;

  .container {
    width: inherit;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-evenly;
    margin: 2rem auto 3rem;
    gap: 2rem;

    .welcomeContainer {
      width: 100%;
      max-width: 35rem;
      align-content: space-evenly;
      padding: 1rem;

      .title {
        margin: 2rem 0;
      }

      .subTitle {
        line-height: 1.6;
      }

      p:nth-of-type(2) {
        margin-top: 1rem;
      }
    }

    .form {
      width: 100%;
      max-width: 29rem;
      padding: 0 1rem;

      select.tags,
      input,
      textarea {
        &:hover {
          border-color: var(--third__opacity);
        }
      }

      input::placeholder,
      textarea::placeholder {
        color: var(--third);
      }

      input,
      textarea,
      button {
        margin: 1rem 0;
        border-color: var(--third);
        color: var(--third);
      }

      .select {
        margin: 1rem 0;
        color: var(--third);

        .tags,
        .tags__error {
          font-size: 1rem;
          border-color: var(--third);
          color: var(--third);
          background-color: var(--background);

          select {
            border-color: var(--third);
          }

          div svg {
            color: var(--third);
          }

          &__error {
            border-color: var(--required);
          }

          option {
            color: inherit;
            background-color: var(--background);
          }
        }
      }

      .titleInput__error,
      .message_error {
        border-color: var(--required);
      }

      .button {
        width: 6rem;
        padding: 0.5rem 0;
        border-radius: 0.5rem;
        background-color: transparent;
        cursor: pointer;
        margin-left: 0.25rem;

        &:hover {
          background-color: var(--third);
          color: var(--text);
        }
      }
    }

    @media (min-width: 720px) and (min-height: 720px), (width: 740px) {
      margin: auto;
    }

    @media (min-height: 844px) and (max-height: 851px) {
      margin: 2rem auto;
    }
  }

  @media (min-width: 768px) {
    margin-top: -3rem;
  }

  @media (min-height: 820px), (height: 800px), (width: 1114px) {
    min-height: calc(100dvh - 5rem);
  }
}

@media (max-width: 719px) and (orientation: portrait) {
  .site__without__footer {
    .container .welcomeContainer .title {
      margin-top: 4rem;
    }
  }
}
