.aside {
  display: none;
}

.container {
  display: flex;
}

.hidden__categories {
  display: none;
}

.aside,
div.drawer {
  width: min(100dvw, 20rem);
  background-color: var(--secondary__opacity);
  box-shadow: var(--box-shadow);
  -webkit-backdrop-filter: var(--backdrop-filter);
  backdrop-filter: var(--backdrop-filter);

  .rolling {
    margin-bottom: 4rem;

    .h3 {
      width: 100%;
      display: grid;
      grid-template-columns: 1fr 3rem;
      justify-items: center;
      align-items: center;
      margin: 2rem 0 0.25rem;
      cursor: pointer;

      h3 {
        width: 100%;
        padding-left: 1rem;
      }

      svg {
        transition: transform 0.3s cubic-bezier(0.65, 0, 0.35, 1);
        display: inline-block;
      }
    }

    .afterHidden {
      margin-bottom: 2rem;
    }
  }
}

div button.aside__right {
  width: 2.5rem;
  height: 3.5rem;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 5rem;
  font-size: 2rem;
  border-radius: 0 0.5rem 0.5rem 0;
  background-color: var(--primary__opacity);
  color: var(--text);
  cursor: pointer;
  z-index: 1;
  border-color: transparent;
  box-shadow: var(--box-shadow);
  -webkit-backdrop-filter: var(--backdrop-filter);
  backdrop-filter: var(--backdrop-filter);

  svg {
    transform: rotate(90deg);
  }
}

div.drawer {
  background-color: transparent;
  margin-bottom: 4.5rem;
  position: absolute;
  z-index: 1;

  .drawerBody {
    height: calc(100dvh - 8.3rem);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 1rem;
    background-color: var(--secondary__opacity);
    backdrop-filter: blur(2px);
    color: var(--text);

    &::before {
      content: '';
      position: absolute;
      inset: 0;
      opacity: 0.2;
      pointer-events: none;
    }
  }

  .drawer__right {
    width: 100%;
    height: 3.5rem;
    display: flex;
    justify-content: flex-end;
    border-color: transparent;
    border-radius: 0;
    position: sticky;
    bottom: 4.5rem;
    background-color: var(--secondary);
    opacity: 0.8;

    svg {
      width: 2.5rem;
      height: 100%;
      transform: rotate(-90deg);
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

@media (min-width: 768px) {
  div.drawer {
    margin-bottom: 0;

    .drawerBody {
      height: 100dvh;
      padding-top: 3.5rem;
    }

    .drawer__right {
      bottom: 0;
    }

    .aside .rolling {
      .h3 {
        margin-top: 7rem;
      }
    }
  }

  div button.aside__right {
    bottom: 0;
  }
}

@media (min-width: 1024px) {
  .aside {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    padding-top: 3.5rem;
    font-size: 1.5rem;
    overflow: hidden auto;
    scrollbar-width: thin;
    scrollbar-color: var(--primary) var(--fourth);
    background-color: var(--secondary__opacity);
    backdrop-filter: blur(2px);
    color: var(--text);

    &::-webkit-scrollbar {
      width: 0.6rem;
    }

    &::-webkit-scrollbar-track {
      background-color: var(--fourth);
    }

    &::-webkit-scrollbar-thumb {
      background: var(--primary);
    }

    &::-webkit-scrollbar-thumb:hover {
      width: 1rem;
    }

    &::-webkit-scrollbar-thumb:hover {
      background: var(--third);
      border-radius: 1.25rem;
    }

    &::-webkit-scrollbar-thumb:active {
      background: var(--primary);
      border-radius: 1.25rem;
    }
  }

  div button.aside__right {
    display: none;
  }

  div.drawer {
    display: none;
  }
}
