@use 'styles/variables' as *;

.container__form {
	height: 85vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	.title {
		margin-bottom: 2rem;
	}

	.field {
		width: 20rem;
		margin: .5rem auto;
		text-align: left;
		color: $third__color;
	}

	.input {
		width: 20rem;
		padding: .3rem;
		border-color: transparent;
	}

	.submit__button {
		width: 11rem;
		font-size: 1rem;
		margin: .8rem auto;
		background-color: transparent;
		border-radius: 2rem;

		&:hover{
			opacity: .8;
	}
	}
}
