@use 'styles/variables' as *;

.photos {
  width: 17rem;
  height: 17rem;
  margin: 1.5rem auto;
  justify-self: center;
  background-color: $secondary__background__color;

  @media (min-width: 644px) and (max-width: 767px) {
    margin: 1.5rem;
  }

  @media (min-width: 874px) {
    margin: 1.5rem;
  }
}

