@use 'styles/variables' as *;

.options {
	background: $third__color;

	.bottomPanel {
		display: grid;
		grid-template-columns: 1fr 4rem;
		margin-top: 1rem;
		align-items: center;

		.author__name {
			margin: .5rem 2rem;
			text-align: left;
		}
	}

	.comments {
		width: 15rem;
		max-width: 70%;
		height: 2rem;
		border: 1px;
		margin: 1rem auto 0;
		cursor: pointer;
	}
}