.h2 {
  margin: 5rem auto 2rem;
}

.collapse {
  margin: 0 auto;
}

.ant-collapse-header,
.answers__faq {
  max-width: 38rem;
  font-size: 1.6rem;
  padding: 0.5rem;
  cursor: pointer;

  a {
    text-decoration: underline;
  }
}
.ant-collapse-header {
  display: inline-flex;
  flex-wrap: nowrap;
  margin: 2rem 5% 1rem;
  border: 0.2rem inset #f7f7f7;
  border-radius: 2rem;
  padding: 1rem 1.5rem;
}

.answers__faq {
  margin: 1rem auto 2rem;
  line-height: 1.6;
}

@media (min-width: 1000px) {
  .ant-collapse-header,
  .answers__faq {
    max-width: 48rem;
    font-size: 2rem;
  }
}
