@use 'styles/variables' as *;

.tilesSection {
	display: flex;
	flex-wrap: wrap;
	margin: auto;
	justify-content: center;
	align-items: center;

	.title {
		width: 90%;
		font-size: 1.4rem;
		margin-left: 1rem;
		margin-top: 2rem;
		text-align: left;
	}

	.divider {
		width: 90%;
		margin-bottom: 1rem;
	}

	.tile {
		display: flex;
		flex-direction: column;
		width: 100vw;
		max-width: 14rem;
		margin: 2rem 3% 1rem;
		border-radius: 1rem;
		box-shadow: 0 0 .5rem .1rem $third__color;

		.link {
			display: flex;
			flex-direction: column;

			.thumbnail {
				background: $third__color;
				border-radius: 1rem 1rem 0 0;
			}

			.nameGroup {
				display: block;
				padding: 0.5rem 1rem 0.5rem;
			}
		}
	}

	.noGroups {
		margin: 2rem;
	}
}

