@use '../../../styles/variables' as *;

.groups {
  margin-bottom: 3rem;

  h3 {
    margin-bottom: 1rem;
  }

  &__button {
    width: 80%;
    font-size: 1rem;
    background-color: $secondary__color;
    margin: 1rem auto;
  }
  .groups__container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: .5rem auto;

    img {
      border-radius: .5rem;
    }
  }

  &__item {
    width: 70%;
    display: inline-flex;
    padding-left: 0.6rem;
  }
}
