@use '../../../styles/variables' as *;

.options {
	.bottomPanel {
		display: grid;
		grid-template-columns: 1fr 4rem;
		margin-top: 1rem;
		align-items: center;

		.author__name {
			margin: .5rem 2rem;
			text-align: left;
		}
	}

	.comments {
		width: 15rem;
		max-width: 70%;
		border: .1rem;
		border-radius: .5rem;
		margin: 1rem auto;
		padding: .3rem;
		font-size: 1rem;
		background-color: $third__color;
		cursor: pointer;
	}
}