.first__data {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .title {
        margin-bottom: 2rem;
    }

    .subtitle {
        margin: 2rem auto;
        font-size: 1.3rem;
    }

    .submit__info, .error {
        margin: .2rem auto;
        font-size: 1.1rem;
        line-height: 1.2;
        width: 16rem;
    }

    .submit__button {
        width: 11rem;
        margin: 1rem auto;
    }
}