@use 'styles/variables' as *;

.first__data {
  height: 85vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .title {
    margin-bottom: 2rem;
  }

  input {
    width: 17rem;
    margin: .5rem auto;
    padding: .4rem;
    text-align: left;
    border-color: $third__color;
    color: $third__color;
  }

  .submit__button {
    width: 11rem;
    font-size: 1rem;
    margin: .8rem auto;
  }
}
