.first__data {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .title {
    margin-bottom: 2rem;
  }

  .form__field {
    display: flex;
    margin: 0.7rem 8%;
    flex-direction: row;

    .label {
      display: inherit;
      width: 7rem;
      margin: 0 0.8rem 0 0;
      justify-content: flex-start;
      align-self: center;
      font-size: 1.3rem;
    }

    .input {
      margin: auto 0;
      max-width: 11rem;
    }
  }

  .submit__button {
    width: 11rem;
    font-size: 1rem;
    margin: .8rem auto;
  }
}
