.updateLogo {
  display: flex;
  justify-self: flex-start;
  gap: .5rem;
  margin: 2rem 1rem 0;
  border: 1px solid var(--text);
  border-radius: 0.5rem;
  padding: 0.75rem 1.25rem;
  font-size: 1rem;

  &:hover {
    border-color: var(--hover);

    svg path:last-child {
      color: var(--background);
      fill: var(--background);
    }
  }

  &:active {
    border-color: var(--active);
  }

  &:focus {
    border-color: var(--focus);

    svg path:last-child {
      color: var(--background);
      fill: var(--background);
    }
  }
}

.modelContent {
  width: min(100dvw, 25rem);
  height: max-content;
  flex-direction: column;
  margin: auto;
  padding: 0 1rem 1rem;
  position: absolute;
  top: 5rem;
  left: 0;
  right: 0;
  z-index: 1;
  border-radius: 1rem;
  color: var(--primary);
  background-color: var(--background);
  box-shadow: var(--modal-box-shadow);

  [data-state='open'] {
    display: flex;
  }

  [data-state='closed'] {
    display: none;
  }

  .modelContentHeader {
    margin: 2rem 1rem 1rem;

    h2 {
      color: var(--primary);
    }
  }

  .adding__files {
    max-width: 20.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    margin: 1.5rem auto 0.5rem;

    .select {
      width: 100%;
      color: var(--text);

      .tags,
      .tags__error {
        width: inherit;
        margin: 0.5rem auto;
        padding: 0.5rem;
        border-color: var(--third);
        border-radius: 1rem;
        background-color: var(--background);
      }

      .tags__error {
        select {
          border: 1px solid var(--required);
          color: var(--required);
        }

        div {
          color: var(--required);
        }
      }
    }

    .shortDescription {
      width: 100%;
      min-height: 2.5rem;
      margin: 0.5rem;
      padding: 0.45rem 1rem;
      resize: vertical;
      border-radius: 1rem;
      border-color: var(--third);
      background-color: var(--background);

      &::placeholder {
        color: var(--text__opacity);
      }

      &__error {
        border-color: var(--required);
      }
    }

    .filePickerButton {
      width: 100%;
      height: 2.5rem;
      margin: 1rem auto;
      border-radius: 1rem;
      font-weight: bold;
      font-size: 1rem;
      border: 0.1rem solid var(--secondary);
    }

    .input,
    .input__error {
      width: 100%;
      margin: 0.7rem auto;
      padding: 0.5rem;
      border: 1px solid var(--third);
      border-radius: 1rem;
      font-size: 1rem;

      &::-webkit-file-upload-button {
        border: none;
        padding: 0.5rem 1rem;
        margin-right: 0.5rem;
        border-radius: 0.5rem;
        cursor: pointer;
        transition: background 0.3s;
        background-color: var(--primary);
        color: var(--background);
      }

      &__error {
        border-color: var(--required);
      }
    }

    .filePickerImage {
      width: 100%;
      max-height: 14rem;
      margin: 0.5rem auto;
    }

    .error {
      width: 100%;
      max-width: 16rem;
      font-size: 1.1rem;
      color: var(--required);
    }

    .progressbar {
      width: 100%;
      margin: 1.5rem auto;
    }

    .buttons {
      width: 100%;
      margin: 2rem 1.1rem -0.5rem;
      display: flex;
      justify-content: flex-end;
      gap: 1rem;

      button {
        border-radius: 0.5rem;
        font-size: 1rem;
        padding: 0.5rem 1rem;
        border-color: transparent;
        color: var(--primary);

        &:last-child {
          color: var(--text);
          background-color: var(--third);
          border-color: var(--third);
        }
      }
    }

    @media (min-width: 768px) {
      .filePickerImage {
        max-height: 30rem;
      }
    }
  }
}
