.menu_buttons {
	width: 5.5rem;
	height: 90%;
	display: flex;
	flex-direction: column;
	row-gap: .2rem;
	font-size: .85rem;
	justify-self: end;
	margin: auto .5rem auto .1rem;
	padding: .2rem;
	background: inherit;
	border-radius: 1rem;
	background-color: transparent;
	cursor: pointer;

	svg {
		width: 2.2rem;
		height: 2.2rem;
		color: inherit;
	}

	&:hover {
		background-color: var(--hover);
		color: var(--text);
	}

	&:active {
		background-color: var(--active);
		color: var(--text);
	}

	&:focus {
		background-color: var(--focus);
	}
}

@media (min-width: 768px) {
	#settings_button {
		display: none;
	}
}