.plans,
.plans__user {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  margin: auto;
  align-items: center;

  @media (min-width: 1420px) {
    width: 78%;
    margin: auto;
  }

  @media (min-width: 1670px) {
    flex-direction: row;
  }
}
