@use 'styles/_variables' as *;

.options {
  display: flex;
  justify-content: space-between;
  margin: .5rem 0;

  .likesContainer {
    display: flex;
    align-items: center;

    .likes {
      width: 2rem;
      height: 2rem;
      margin-left: .5rem;
      background-color: transparent;
      color: $third__color;
      border-color: transparent;
      cursor: pointer;
    }

    .likesCount {
      margin-right: .5rem;
      font-size: 1rem;
      color: $third__color;
    }
  }

  .buttons {
    display: flex;
    position: relative;

    .moreBut {
      font-size: 1.6rem;
      background-color: transparent;
      border-color: transparent;
      cursor: pointer;
    }

    .more {
      width: max-content;
      display: flex;
      position: absolute;
      right: 110%;
      background-color: $third__color;
      border-radius: 1rem;

      .edit, .delete {
        min-width: 5rem;
        //width: max-content;
        padding: 0 1rem;
        border-color: transparent;
        cursor: pointer;
      }

      .edit {
        color: $dark__color__light__back;
      }

      .delete:hover {
        background-color: $required__color;
        border-radius: 1rem 0 0 1rem;
      }
    }

    .answer {
      padding: .1rem 1rem;
      border-color: transparent;
      cursor: pointer;
    }
  }
}