.nav {
  height: 90%;
  font-size: 1.5rem;

  .list {
    display: flex;
    width: 17rem;
    height: 100%;

    .menu {
      width: inherit;
      height: inherit;
      display: flex;
      background-color: var(--primary__opacity);
      box-shadow: 0 0.25rem 1.25rem rgba(0, 0, 0, 0.1);
      -webkit-backdrop-filter: blur(5px);
      backdrop-filter: blur(5px);

      &:first-child {
        border-radius: 1rem 0 0 1rem;

         a:hover { 
          border-radius: inherit
         }
      }

      a {
        width: 100%;
        height: inherit;
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--text);

        &:hover {
          background-color: var(--hover);
          color: var(--background);
        }

        &:active {
          background-color: var(--active);
        }

        &:focus {
          background-color: var(--focus);
        }
      }
    }
  }

  &__jp {
    font-size: 1.3rem;
  }

  &__jp .list .menu {
    width: fit-content;
    margin: 0 0.5rem;
    padding: 0.1rem;
  }
}
