.nav {
  height: 90%;
  font-size: 1.5rem;

  .list {
    display: flex;
    width: 12rem;
    height: 100%;
    gap: 0.5rem;

    .menu {
      width: inherit;
      height: 3rem;
      display: flex;
      align-items: center;
      border-radius: 2rem;
      background-color: var(--primary__opacity);
      box-shadow: 0 0.25rem 1.25rem rgba(0, 0, 0, 0.1);
      -webkit-backdrop-filter: blur(5px);
      backdrop-filter: blur(5px);
      padding: 0.25rem;

      a {
        width: 100%;
        height: 2.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 2rem;
        font-size: 1.2rem;
        color: var(--text);

        &:hover {
          background-color: var(--hover);
          color: var(--background);
        }

        &:active {
          background-color: var(--active);
        }

        &:focus {
          background-color: var(--focus);
        }
      }
    }
  }

  &__jp .list {
    width: 18rem;
  }
}
