.create__account {
  width: 100dvw;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  justify-self: center;
  padding-bottom: 4rem;
  margin: -7rem auto -1rem auto;

  .orientation {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;

    .dividerWithText {
      width: inherit;
      display: grid;
      grid-template-columns: 1fr auto 1fr;
      justify-content: center;
      align-items: center;
      column-gap: 1rem;
      padding: 3rem 2rem 2rem;

      .provider__title {
        display: inline-block;
        font-size: 1rem;
      }

      hr {
        width: 100%;
        border: 1px solid var(--secondary);
      }
    }
  }
}

.changeForm {
  margin: 1rem auto;

  a {
    color: var(--secondary);
  }
}

.create__account .chakraAlert > div {
  position: absolute;
  bottom: 4rem;
  border-radius: 1rem;
  z-index: 1;
}

.acceptInfo {
  margin: 2rem auto 1rem;
  padding: 0 2rem;
  font-size: 0.9rem;
  line-height: 1.6;
}

@media (orientation: landscape) {
  .create__account {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: calc(100dvh - 4rem);

    .orientation {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      width: 50vw;

      form {
        margin: -0.5rem auto;
      }

      .forgotten {
        margin: 1.5rem auto 0;
      }

      .changeForm {
        margin-top: 2rem;
      }
    }
  }
}

@media (min-width: 786px) {
  .dividerWithText {
    width: 25rem;
    margin: 0 auto;
  }

  .acceptInfo {
    text-align: center;
    line-height: 1.6;
  }

  @media (orientation: landscape) {
    .create__account {
      height: 100dvh;

      .orientation {
        height: inherit;
        margin: auto;
      }
    }
  }
}

@media ((min-width: 1366px) and (orientation: landscape)) {
  .create__account .orientation {
    width: 33vw;
  }
}
