@use 'styles/variables' as *;
@use 'styles/reset';

* {
  box-sizing: border-box;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode',
  'Geneva', 'Verdana', sans-serif;
}

html {
  scrollbar-width: thin;
  scrollbar-color: $dark__background__light__color black;

  &:hover {
    scrollbar-color: $secondary__color black
  }

  &:active {
    scrollbar-color: $secondary__color black
  }

  &::-webkit-scrollbar {
    width: 10px
  }

  &::-webkit-scrollbar-track {
    background-color: black
  }

  &::-webkit-scrollbar-thumb {
    background: $dark__background__light__color;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: $secondary__color;
    border-radius: 20px;
  }

  &::-webkit-scrollbar-thumb:active {
    background: $secondary__color;
    border-radius: 20px;
  }
}
h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.2rem;
}

a {
  text-decoration: none;
  color: black;
  cursor: pointer;

  &:visited {
    color: $link__visited;
  }

  &:focus {
    color: $link__focus;
  }

  &:hover {
    color: $link__hover;
  }

  &:active {
    color: $link__active;
  }
}

button {
  background-color: transparent;
  cursor: pointer;
}

.title {
  font-size: 1.8rem;
  display: flex;
  margin: 3rem auto;
  justify-content: center;
}

.button {
  display: flex;
  border: .2rem inset $secondary__color;
  border-radius: 2rem;
  align-items: center;
  justify-content: center;
  padding: 0.25rem 1.5rem;
  font-size: 1rem;
  cursor: pointer;
}

.pagination {
  display: flex;
  flex-flow: row wrap;
  width: 100vw;
  max-width: 40rem;
  justify-content: center;
  align-items: center;
  margin: 1rem auto;
  color: $dark__background__light__color;


  button.ant-pagination-item-link {
    background: transparent;
    border: 0;
    color: $primary__color;
    margin: 0 1.5rem;

    &:focus {
      color: $link-_focus;
    }

    &:hover {
      color: $third__color;
    }

    &:active {
      border-color: $link__active;
    }

    &:disabled {
      visibility: hidden;
    }
  }

  .ant-pagination-simple-pager {
    input {
      box-sizing: border-box;
      height: 100%;
      margin-right: 8px;
      padding: 0 6px;
      text-align: center;
      background-color: transparent;
      border: 1px solid $dark__background__light__color;
      border-radius: 2px;
      outline: none;
      transition: border-color 0.3s;

      &:hover {
        border-color: $link__hover;
      }

      &:focus {
        border-color: $link-_focus;
      }
    }

    .ant-pagination-slash {
      margin: 0 10px 0 5px;
    }
  }

  &-dark {
    color: $dark__color__light__back;

    input {
      color: $dark__color__light__back;
    }

    .ant-pagination-simple-pager input {
      border: 1px solid $dark__color__light__back;

    }
  }
}