@use 'styles/variables' as *;
@use 'styles/reset';

* {
  box-sizing: border-box;
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode',
  'Geneva', 'Verdana', sans-serif;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.6rem;
}

h4 {
  font-size: 1.2rem;
}

a {
  text-decoration: none;
  color: $link__color;
  cursor: pointer;

  &:hover {
    color: $link__hover;
  }

  &:active {
    color: $link__active;
  }

  &:visited {
    color: $link__visited;
  }

  &:focus {
    color: $link__focus;
  }
}

input:required,
textarea:required,
select:required {
  border: 0.1rem solid $borders__required__color;
}

.whole__page {
  position: relative;
  display: flex;
}

.main__container {
  margin: 0 auto;
}

.workspace {
  display: flex;
  flex-direction: column;
  margin: 2rem auto;
  padding-top: 3rem;
}

.button {
  padding: 0.25rem 1.5rem;
  border: .2rem inset $borders__background__color;
  border-radius: 2rem;
  cursor: pointer;
}
