@use 'styles/variables' as *;

.group__element {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  .title {
    font-size: 3rem;
    margin: 3rem auto 5rem;
  }

  .question {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 98vw;
    margin: 1rem auto 2rem;
    font-size: 1.2rem;

    h2, h3 {
      width: 27rem;
      max-width: 86vw;
      margin: 1rem 2rem;
      font-size: 1.2rem;
      line-height: 1.8;
    }

    img {
      object-fit: contain;
    }
  }
}

.main__container, .main__container__mode {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  margin: 3rem auto;
  font-size: 1.2rem;

  .container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 28.125rem;
    height: 20rem;
    justify-content: space-evenly;
    margin: 0 auto;
    line-height: 1.8;
    background: $primary__color;
    color: $dark__background__light__color;
    padding: 1rem;

    .question {
      display: flex;
      justify-content: flex-start;
      padding: 1rem 0 0 1rem;
    }

    .answer {
      display: flex;
      justify-content: flex-end;
      padding: 2rem 0 0 4rem;
    }
  }

  .image {
    object-fit: fill;

    .modeImage {
      display: flex;
      flex-direction: column;
    }
  }

  @media (min-width: 824px) {
    .main__container {
      font-size: 1.4rem;

      .container {
      }
      margin: 0;
      }
  }

  @media (min-width: 919px) {
    &__mode {
      .container {
        max-width: 56.25rem;
        padding: 3rem 7rem;
        font-size: 1.4rem;

        .question {
          font-size: inherit;
        }
      }

      .image .modeImage {
        flex-direction: row;
      }
    }
  }

}

