@use 'styles/variables' as *;

.title {
  margin: 2rem auto 3rem;
}

.h2,
.h3 {
  width: 17rem;
  margin: 2rem auto;
  font-size: 1rem;
  line-height: 1.2;

  @media (min-width: 400px) {
    width: 20rem;
  }
}

.main__container {
  display: flex;
  margin: 1rem auto;
  flex-flow: row wrap;
  justify-content: space-evenly;

  .container {
    display: flex;
    max-width: 25rem;
    margin: 2rem auto;
    flex-direction: column;
    line-height: 1.6;
    background: $main__container;
    padding: .5rem;

    .question {
      display: flex;
      justify-content: flex-start;
    }

    .answer {
      font-size: 1.4rem;
      margin: 3rem auto;
    }
  }

  .image {
    background-color: $image__container;
  }

  @media (min-width: 394px) {
    .container {
      margin: 1.5rem;
      justify-content: center;

      .question {
        width: 50%;
      }

      .answer {
        display: flex;
        width: 60%;
        margin: 16px 0 16px 40%;
        justify-content: flex-end;
      }
    }
  }
}

