@use 'styles/variables' as *;

.profile {
  width: 100%;
  margin: 2rem auto 8rem;
  font-size: 1.33rem;
}

.title {
  width: inherit;
  margin-left: 1.5rem;
}

.publicContainer {
  margin: 2rem 4rem;

  .description {
    line-height: 1.6;
    font-size: 1rem;
  }
}

@media (min-width: 768px) {
  .profile {
    margin-bottom: 2rem;
  }
}