@use 'styles/variables' as *;

.profile {
  justify-items: center;
  display: grid;
  margin: 2rem auto;
  font-size: 1.8rem;
}

.photo__profile {
  width: 10rem;
  height: 10rem;
  position: relative;
  background-color: $secondary__background__color;
  margin: 2rem;
}

.mar__button {
  height: 2.25rem;
  font-size: 1rem;
  margin: 1rem auto;
}

  .edit {
    background: $third__background__color;
    border-color: $third__background__color;
  }
  .cancel {
    background: $light__background__color;
    border-color: $light__background__color;
  }

.form {
  display: none;
}

.form__active {
  display: grid;
}

.pseudonym__name,
.about__me {
  margin: 1.5rem;
  display: flex;
  flex-flow: column;

  .title {
    margin: .5rem;
    align-self: center;
  }

  .input,
  .description {
    margin: 1rem auto;
    font-size: 1rem;
  }
  .description {
    width: 20rem;
  }
}

.button {
  width: 7rem;
  font-size: 1rem;
  margin: auto;
}

@media (min-width: 1440px) {
  .profile {
    margin: 8rem auto;
  }
}
