@use 'styles/variables' as *;

.settings {
  width: 90vw;
  margin: -3rem auto 5rem;
  min-height: 87.1vh;

  &_title {
    font-size: 2.4rem;
    margin-bottom: 3rem;
  }

  h3 {
    margin-bottom: 1.5rem;
    font-size: 1.6rem;
  }

  .flow {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    font-size: 1.4rem;

    .modeContainer, .langMenu {
      display: flex;
      width: inherit;
      height: 3rem;
      align-items: center;
      justify-content: space-between;
      font-size: 1.2rem;
    }

    .modeContainer {
      > div {
        display: inline-flex;
        align-items: center;

        .icon {
          width: 1.4rem;
          height: 1.4rem;
          margin-right: .2rem;
        }

        p {
          margin-left: .1rem;
        }
      }
    }

    .langMenu {
      &__value {
        color: $dark__background__light__color;
      }

      > div {
        display: inline-flex;
        align-items: center;

        .icon {
          width: 1.4rem;
          height: 1.4rem;
          margin-right: .2rem;
        }
      }

      .languages {
        width: 6rem;
        display: flex;
        flex-direction: column;
        font-size: 1.1rem;
        list-style-type: none;
        position: relative;
        border-radius: 5px;
        padding: 0;
        font-weight: bold;
        color: #fff;
        cursor: pointer;

        .languages__select {
          display: flex;
          height: 2.5rem;
          justify-content: center;
          align-items: center;
          gap: .5rem;
          border: .1rem solid $secondary__color;
          border-radius: .5rem;
        }

        .language {
          display: none;

          &__active {
            height: min-content;
            display: flex;
            flex-direction: column;
            background-color: $dark__color__light__back;
            position: absolute;
            top: -3rem;
            gap: 0 .5rem;
            border: .1rem solid $secondary__color;
            border-radius: .5rem;
            z-index: 2;

            &__dark {
              background-color: $dark__background__light__color;
            }
          }

          li {
            position: relative;
            width: 6rem;
            height: 2.5em;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            padding: .25rem 0;

            .languages__version {
              width: inherit;
              height: inherit;
              display: flex;
              justify-content: center;
              align-items: center;
              color: $another__color;

              &:hover, &:active {
                background-color: $dark__color__light__back;
                filter: invert(.2);
                font-weight: bold;
                border-radius: .4rem;
              }

              &__dark {
                &:hover, &:active {
                  background-color: $dark__background__light__color;
                  filter: invert(.2);
                  font-weight: bold;
                  border-radius: .4rem;
                }
              }
            }
          }
        }
      }
    }
  }

  footer {
    margin: 2rem auto 2rem;

    .links {
      width: 100%;
      margin: 1rem 0;
      padding: 0;
      text-align: left;
      font-size: 1rem;
      border-color: transparent;
    }
  }

  @media (min-width: 768px) {
    max-width: 31rem;
    margin-top: 3rem;

    .modeContainer, .langMenu {
      > div {
        width: 11rem;
      }
    }
  }

  @media (min-width: 1250px) {
    max-width: 35rem;
  }
}


@media (min-width: 1490px) {
  .settings .flow {
    .modeContainer, .langMenu {
      .languages {
        li.languages__select {
          width: 5.98rem;

          p {
            font-size: 1rem;
          }
        }
      }
    }
  }
}