.nav {
  .list {
    display: flex;
    width: 12rem;
    gap: 0.5rem;
    border-radius: 2rem 0 0 2rem;
    background-color: var(--primary__opacity);
    box-shadow: var(--box-shadow);
    -webkit-backdrop-filter: var(--backdrop-filter);
    backdrop-filter: var(--backdrop-filter);

    .menu {
      width: inherit;
      height: 3rem;
      display: flex;
      align-items: center;
      border-radius: 2rem;
      padding: 0.25rem;

      a {
        width: 100%;
        height: 2.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 2rem;
        font-size: 1.2rem;
        color: var(--text);

        &:hover {
          background-color: var(--hover);
          color: var(--background);
        }

        &:active {
          background-color: var(--active);
        }

        &:focus {
          background-color: var(--focus);
        }
      }
    }
  }

  &__jp .list {
    width: 18rem;
  }
}
