.container {
  width: 100vw;
  min-height: 87vh;
  display: flex;
  flex-direction: column;

  .title {
    margin: 3rem auto 2rem;
  }

  .param {
    width: 40rem;
    max-width: 90vw;
    line-height: 1.6;
    margin: 3rem auto 0;
    text-align: left;
    font-size: 1.2rem;

    &:last-child {
      margin-bottom: 6rem;
    }
  }

  @media (min-width: 2000px) {
    .param {
      width: 62rem;
    }
  }
}