.share {
  position: relative;
  justify-self: flex-start;

  .sharButton {
    border: 1px solid transparent;
    font-size: 1.25rem;
  }

  .share__options {
    display: none;
    visibility: hidden;
    position: absolute;
    align-items: center;
    right: 3rem;
    bottom: 0;
    background-color: var(--third);
    border-radius: .5rem;

    .icon {
      width: 2.5rem;
      height: 2.5rem;
      margin: 0 .5rem;
      cursor: pointer;

      > button {
        height: 2.5rem;
      }

      .more {
        width: 2.5rem;
        height: 2.5rem;
        border: 2px solid #000;
        border-radius: .7rem;
        position: relative;
        background: none;
        cursor: pointer;
      }
    }
  }

  .share__options__active {
    display: flex;
    visibility: unset;
  }
}
