.share {
  position: relative;
  justify-self: flex-start;

  .sharButton {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.65em;
    font-size: 1.25rem;
    border-radius: 1rem;
    border: 1px solid transparent;
    background: var(--secondary);
  }

  .share__options {
    display: none;
    visibility: hidden;
    position: absolute;
    align-items: center;
    justify-content: center;
    right: 3.2rem;
    top: -0.2rem;
    background-color: var(--third);
    border-radius: 1rem;

    button {
      width: 3rem;
      height: 3rem;
      margin: 0.25rem;
      border-radius: 1rem;

      .icon,
      .more {
        width: inherit;
        height: inherit;
        aspect-ratio: 1/1;
        border-radius: 1rem;
      }

      &:hover,
      &:focus,
      &:active {
        border-radius: 1rem;

      }
    }

    .more {
      border: 2px solid #000;
      background: none;
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        border-radius: .5rem;
        aspect-ratio: 1/1;
        width: inherit;
        position: unset !important;
      }
    }
  }

  .share__options__active {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    visibility: unset;
  }
}
