.container {
  width: 90%;
  margin: 1rem auto;

  .title {
    width: 90%;
    margin: 1rem;
  }

  .field {
    display: grid;
    grid-template-columns: 1fr 4rem;
    margin: 1rem auto;

    .items {
      margin: 1rem 1rem 2rem;
      width: inherit;
    }

    .form {
      display: flex;
      flex-direction: column;
      width: 95%;
      max-width: 30rem;
      margin: 1rem;
      justify-self: center;
      align-items: center;

      textarea {
        resize: vertical;
      }

      .updateField,
      .updateField__error {
        resize: vertical;
        margin-bottom: 0.5rem;
        border: 0.1rem solid var(--third);
        color: var(--third);

        &__error {
          border-color: var(--required);
        }
      }

      .addingButton {
        background-color: var(--third);
        border: 0.1rem solid var(--third);
        margin: 1rem 0 2rem;
        border-radius: 0.5rem;
      }
    }

    .changeButton {
      width: 2.8rem;
      height: 2.8rem;
      margin: 1rem auto;
      background: var(--primary);
      border: 0.1rem solid var(--primary);
      border-radius: 0.75rem;
      color: black;
      cursor: pointer;

      svg {
        font-size: 1.3rem;
      }
    }
  }

  .regulations__item {
    margin: 2rem 1rem;

    &:first-child {
      margin: 0.5rem 1rem;
    }

    &:last-child {
      margin: 2rem 1rem 0;
    }
  }

  .regulations__no__item {
    margin: 0.5rem 1rem;
  }
}
