.upBox {
  position: sticky;
}

.up,
.up__active {
  width: 3rem;
  height: 3rem;
  position: absolute;
  display: none;
  bottom: 6rem;
  font-size: 2rem;
  padding: 0.5rem;
  background-color: var(--primary__opacity);
  color: var(--text);
  border-radius: 50%;
  z-index: 2;
  box-shadow: var(--box-shadow);
  -webkit-backdrop-filter: var(--backdrop-filter);
  backdrop-filter: var(--backdrop-filter);
}

.up__active {
  display: block;
  right: 1rem;
  bottom: 6rem;
}

@media (min-width: 768px) {
  .up__active {
    bottom: 3rem;
  }
}
