.container,
.container__user {
  width: 100dvw;
  position: relative;
  height: 100dvh;

  .main__container,
  .user__container {
    width: 100%;
    height: calc(100% + 12rem);
    display: flex;
    flex-direction: column;
    margin: -3rem auto -6rem;
    padding-top: 6rem;
    padding-bottom: 6rem;
    overflow: hidden auto;

    &::-webkit-scrollbar {
      width: 0.3rem;
    }

    &::-webkit-scrollbar-track {
      background-color: var(--background);
    }

    &::-webkit-scrollbar-thumb {
      background-color: var(--primary__opacity);
      border-radius: 1rem;
      height: 1rem;
    }

    &::-webkit-scrollbar-thumb:hover {
      background-color: var(--secondary__opacity);
      border-radius: 0.6rem;
    }

    &::-webkit-scrollbar-thumb:active {
      background: var(--secondary__opacity);
      border-radius: 0.6rem;
    }

    > div, > section {
      margin: auto;
    }
  }
}

.container__user {
  display: grid;
  grid-template-columns: auto 1fr;
}

.loading {
  font-size: x-large;
}

@media (min-width: 1024px) {
  .whole__page .container .user__container {
    width: calc(100% - 16rem);
  }
}
