.group__element {
  max-width: inherit;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  .title {
    font-size: 3rem;
    margin: 3rem auto 5rem;
  }

  .question {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 98vw;
    margin: 1rem auto 2rem;
    font-size: 1.2rem;

    h2,
    h3 {
      width: 27rem;
      max-width: 86vw;
      margin: 1rem 2rem;
      font-size: 1.2rem;
      line-height: 1.8;
    }

    img {
      object-fit: contain;
    }
  }

  @media (min-width: 890px) and (max-width: 1370px) {
    .question {
      h2,
      h3 {
        width: 23rem;
        margin: 1rem 2rem 1rem 0;
      }
    }
  }
}

