.icon {
  width: 3rem;
  height: 3rem;
  display: flex;
  position: absolute;
  font-size: 3rem;
  border-color: transparent;
  top: 0.1rem;
  right: 0.1rem;
  border-radius: 0.5rem;
  z-index: 2;
  -webkit-backdrop-filter: var(--backdrop-filter);
  backdrop-filter: var(--backdrop-filter);
  color: var(--text);

  svg {
    width: inherit;
    height: auto;
  }

  &:active {
    color: var(--third);
  }
}

.container {
  width: 100%;
  height: 3rem;
  display: none;
  position: absolute;
  justify-content: flex-end;
  z-index: 1;

  > button {
    width: 9rem;
    height: 2.5rem;
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    position: inherit;
    top: 3rem;
    margin: 0.5rem 0.1rem 1rem 0.5rem;
    border-radius: 0.5rem;
    font-size: 1rem;
    border: 1px groove var(--required);
    background-color: var(--required);
  }

  .alert {
    position: absolute;
    top: 6.5rem;
    right: 0;
  }
}

.content {
  margin: auto;

  .title {
    font-size: 1.1rem;
    font-weight: bold;
  }

  .actionButton {
    .cancel {
      border-color: var(--background);
    }

    .submit {
      border-color: var(--required);
      margin-left: 3px;
    }
  }

  .closeButton {
    color: var(--primary);
    border-color: transparent;
  }
}

.container__active {
  display: flex;
}
