.file {
  width: min(34.5rem, 90dvw);
  display: grid;
  grid-template-rows: 1fr 3.25rem 1.5rem auto;
  justify-self: center;
  margin: 1rem auto 8.5rem;
  padding: 0.5rem 0 2rem;
  position: relative;
  border: 0.1rem solid var(--third);
  border-radius: 0.5rem;
  box-shadow: 0 0 0.5rem 0.1rem var(--third);

  .item {
    width: 100%;
    height: 30rem;
    display: block;
    object-fit: contain;
    background-color: transparent;
  }

  .video {
    width: 99.5%;
    height: max-content;
    min-height: 20rem;
    max-width: 37.5rem;
    max-height: 37.5rem;
  }

  .timePlusTag {
    width: 98%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid var(--opacity);
    margin: auto;
    padding: 1rem;

    .time {
      display: block;
    }

    .tags {
    }
  }

  .shortDescription {
    width: 93%;
    margin: 0.5rem auto;
  }

  .options {
    display: grid;
    grid-template-columns: 1fr 5rem 5rem;
    gap: 0.5rem;
    align-items: center;
    padding: 1rem 1.25rem;

    &:last-of-type div,
    button {
      justify-self: center;
    }

    .author_name {
      font-size: 1.2rem;
    }

    .likes {
      width: 3rem;
      height: 3rem;
      margin: auto;
      background-color: transparent;
      color: var(--third);
      border-color: transparent;
      cursor: pointer;
    }

    .likesCount {
      width: 100%;
      display: inline-flex;
      justify-content: center;
      padding: 0.5rem;
      color: var(--third);
    }

    .commentsButton {
      width: calc(100% - 1.5rem);
      height: 100%;
      margin: auto;
      font-size: 1.2rem;
      border-color: transparent;
      border-radius: 1rem;
      cursor: pointer;

      &:hover {
        background-color: var(--third);
        color: currentColor;
      }
    }
  }

  .linkToComments {
    width: 15rem;
    max-width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0.1rem;
    border-radius: 0.5rem;
    margin: 1rem auto;
    padding: 0.75rem;
    font-size: 1rem;
    background-color: var(--third);
    color: var(--text);
  }
}

.noComments {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}
