.file {
  width: min(34.5rem, 90dvw);
  display: grid;
  grid-template-rows: 1fr 3.25rem 1.5rem auto;
  justify-self: center;
  margin: 1rem auto 0.3rem;
  padding: 0.5rem 0 1.5rem;
  position: relative;
  border: 0.1rem solid var(--third);
  border-radius: 0.5rem;
  box-shadow: 0 0 0.5rem 0.1rem var(--third);

  .item {
    width: 100%;
    height: 30rem;
    display: block;
    object-fit: contain;
    background-color: transparent;
  }

  .video {
    width: inherit;
    height: max-content;
    min-height: 20rem;
    max-width: 37.5rem;
    max-height: 37.5rem;
  }

  .timePlusTag {
    width: 98%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid var(--opacity);
    margin: auto;
    padding: 1rem;

    .time {
      display: block;
    }

    .tags {
    }
  }

  .shortDescription {
    width: 93%;
    margin: 0.5rem auto;
  }

  .options {
    height: min-content;

    .bottomPanel {
      display: grid;
      grid-template-columns: 1fr 3rem;
      margin: 1rem 1.25rem 0;
      align-items: center;

      .author__name {
        margin: 0.5rem 0;
      }
    }

    .linkToComments {
      width: 15rem;
      max-width: 70%;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 0.1rem;
      border-radius: 0.5rem;
      margin: 1rem auto;
      padding: 0.75rem;
      font-size: 1rem;
      background-color: var(--third);
      color: var(--text);
    }
  }
}

.container {
  width: min(34.5rem, 90dvw);
  margin: 1rem auto 2rem;

  .comment {
    width: 100%;
    display: grid;
    grid-template-columns: 3rem 1fr;
    align-items: center;
    justify-items: center;

    img {
      margin: 0.35rem 0 0.8rem;
    }

    .rightSideComment {
      width: inherit;
      display: flex;
      flex-direction: column;
      margin: 0 0.5rem;

      .topPartComment {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: space-between;
        align-items: center;
        padding: 0.35rem 0 1.2rem;

        .pseudonym {
          font-size: 1.2rem;
          text-align: inherit;
          font-style: oblique;
        }

        .date {
          text-align: right;
          font-size: 0.9rem;
        }
      }

      .text {
        font-size: 1rem;
        text-align: inherit;
      }
    }
  }

  &__deleted {
    display: none;
  }

  &:last-child {
    margin-bottom: 8rem;
  }
}

.noComments {
  display: flex;
  justify-content: center;
  margin-bottom: 6rem;
}
