.file {
  width: min(34.5rem, 90dvw);
  height: fit-content;
  display: grid;
  grid-template-rows: 1fr 3.25rem 1.5rem 8.5rem;
  justify-self: center;
  margin: 1rem 0.3rem;
  padding: 0.5rem 0;
  position: relative;
  border: 0.1rem solid var(--third);
  border-radius: 0.5rem;
  box-shadow: 0 0 0.5rem 0.1rem var(--third);

  .item {
    width: inherit;
    height: 30rem;
    display: block;
    object-fit: contain;
    background-color: transparent;
  }

  .video {
    width: inherit;
    height: max-content;
    min-height: 20rem;
    max-width: 37.5rem;
    max-height: 37.5rem;
  }

  .timePlusTag {
    width: 98%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid var(--opacity);
    margin: auto;
    padding: 1rem;

    .time {
      display: block;
    }

    .tags {
    }
  }

  .shortDescription {
    width: 93%;
    margin: 0.5rem auto;
  }
}
