.file {
  min-width: min(17.5rem, 98%);
  justify-self: center;
  margin: 1rem auto;
  padding: 0.5rem 0;
  position: relative;
  border: .1rem solid var(--third);
  border-radius: 0.5rem;
  box-shadow: 0 0 0.5rem 0.1rem var(--third);

  .item {
    width: 37.5rem;
    height: 37.5rem;
    display: block;
    object-fit: contain;
    background-color: transparent;
  }

  .video {
    width: inherit;
    height: max-content;
    min-height: 20rem;
    max-width: 37.5rem;
    max-height: 37.5rem;
  }

  .time {
    width: 98%;
    display: block;
    padding: 1rem;
    margin: auto;
    border-top: 1px solid var(--opacity);
  }

  .shortDescription {
    width: 93%;
    margin: .5rem auto;
  }
}
