@use "styles/variables" as *;

.container {
  width: 100%;
  min-height: 91vh;
  display: flex;
  flex-direction: column;
  align-self: center;

  .title {
    margin: 2rem auto 1rem;
    font-size: 2.5rem;
  }

  .subTitle {
    opacity: .8;
    margin: 0 auto 1rem;
    text-align: center;
  }

  .plansFormats {
    width: 95%;
    margin: 4rem auto auto;
    display: flex;
    flex-direction: column;

    .plans, .plans__user {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 2rem;
      margin: auto;

      .box {
        max-width: 22rem;
        min-height: 32rem;
        display: flex;
        flex-direction: column;
        padding: 0 .5%;
        border-radius: 1rem;
        background-color: $another__color;

        &__title {
          color: black;
          margin: 2rem auto 1rem;
        }

        &__price {
          height: 4.6rem;
          display: flex;
          margin: 0 auto 2rem;
          color: black;

          p {
            font-size: 4rem;

            &:nth-of-type(2) {
              width: inherit;
              display: flex;
              align-items: flex-end;
              margin-left: .25rem;
              font-size: 1rem;
              opacity: .8;
            }
          }
        }

        .list {
          width: 99%;
          margin: 0 auto;

          ul li {
            display: flex;
            align-items: center;
            margin: 1rem .6rem;

            svg.icon {
              margin: 0 .8rem 0 .3rem;
              font-size: 1.4rem;
              color: $link__focus;
            }

            p {
              margin: auto 0;
              font-size: 1rem;
              color: black;
            }
          }
        }

        &:nth-of-type(2) {
          background-color: $secondary__color;

        }

        .choosePlan, .chooseSecondPlan {
          margin: 2.8rem auto 2rem;
          color: $dark__background__light__color;
          position: relative;

          div {
            background: $another__color;
          }
        }

        .chooseSecondPlan div {
          background-color: $secondary__color;
        }

        &:first-of-type {
          .choosePlan {
            margin-top: 5.4rem;
          }
        }
      }
    }

    .toFaq {
      width: fit-content;
      margin: 2rem auto;
    }

    .formats {
      margin: 0 1rem 4rem;
      font-size: .8rem;
      opacity: .8;
    }

    @media (min-width: 1300px) {
      .plans__user {
        flex-direction: row;
      }
    }

    @media (min-width: 1024px) {
      .plans {
         flex-direction: row;
      }
    }

    @media (min-width: 1420px) {
      .plans {
        width: 78%;
        margin: auto;
      }
    }
  }
}

