//MAINLY
$primary__color: #085e8f;
$secondary__color: #6bb5ff;
$third__color: #004773;
$fourth__color: #80200D;
$another__color: #8c566f;

//LINKS
$link__active: #FFCD01;
$link__focus: #FFA4F3;
$link__visited: #12fff8;

//DARK AND LIGHT MODE
$dark__background__light__color: #333;
$dark__color__light__back: #ddf;

//BORDERS
$required__color: #800000;

//FORMS
$back__form: #1e90ff;

//PROVIDERS__ICONS
$google__provide: #db4437;
$yahoo_provider: #400090;