//MAINLY
$primary__color: #FFD068;
$secondary__color: #FF5CAE;
$third__color: #4F8DFF;
$fourth__color: #82FF82;
$another__color: #FFC74F;

//LINKS
$link__hover: #0E2143;
$link__active: #3F1027;
$link__focus: #418041;
$link__visited: #403214;

//DARK AND LIGHT MODE
$dark__background__light__color: #2D3748;
$dark__color__light__back: #f7f7f7;

//DARK LINKS
$link__dark__hover: #FFD4EE;
$link__dark__active: #FF5CAE;
$link__dark__focus: #82FF82;
$link__dark__visited: #FFF500;

//BORDERS
$required__color: #bd0000;

//PROVIDERS__ICONS
$google__provider: #db4437;
$spotify_provider: #1db954;
$discord_provider: #5865f2;
$line_provider: #07b53b;