//MAINLY
$primary__background__color: #085e8f;
$secondary__background__color: #12fff8;
$third__background__color: #008b8b;
$aside__background__color: #8c230e;
$another__background__color: #8c566f;

//BORDERS
$borders__background__color: #6bb5ff;

//DARK MODE
$dark__background: #000;
$dark__color: #fff;

//LIGHT MODE
$light__background__color: #fff;
$light__color: #000;

//LINKS
$link__color: #000;
$link__hover: #1e90ff;
$link__active: #12fff8;
$link__focus: #ffa205;
$link__visited: #ff7f38;
