@use 'styles/variables' as *;

.dark {
  background-color: $dark__background;
  color: $dark__color;
}

.left__arrow__dark {
  top: 50%;
  left: 0;
  transform: translate(50%, -50%);
}

.right__arrow__dark {
  top: 50%;
  right: 0;
  transform: translate(-50%, -50%);
}
