.account__data {
  margin: 2rem 0;
  display: flex;
  flex-direction: column;

  .form {
    display: flex;
    flex-flow: column wrap;
    margin: 1.5rem 0;

    @media (min-width: 516px) {
      margin: 2rem 0;
    }

    .title {
      height: 3rem;
      display: inline-block;
      font-size: 1.6rem;
      margin-bottom: 1rem;
    }

    .flow {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-size: 1.4rem;

      .subscription {
        color: var(--text);
      }

      .button {
        color: var(--text);
      }
    }

    .input,
    .input__error {
      max-width: 17.5rem;
      height: 2.5rem;
      margin: 0.5rem auto;
      border-radius: 1rem;
      color: var(--text);

      &::placeholder {
        color: var(--text__opacity);
      }
    }

    .input {
      border-color: var(--third);
    }

    .input__error {
      border-color: var(--required);
    }

    .planButton {
      margin: unset;
    }
  }
}

div.subscriptionForm {
  max-width: inherit;
  right: 1rem;
  background-color: var(--background);
  color: var(--text);
  box-shadow:
    0px -6px 1.4rem var(--third),
    0px 6px 1.4rem var(--third);

  div.arrow div {
    background: inherit !important;
    box-shadow: -1px -1px 1px 0 var(--background__opacity);
  }

  header {
    border-bottom: transparent;
    color: var(--text);
  }

  &:focus {
    box-shadow: 0 0 0 3px transparent;
  }

  .selectSub {
    margin: 1rem;

    select {
      width: 100%;
      color: var(--text);
      background: var(--background);
      border: 1px solid var(--text);
      padding: 0.5rem;
      border-radius: 0.5rem;
      cursor: pointer;

      option {
        background-color: var(--background);
      }
    }

    div {
      color: var(--text);
    }

    &__error {
      color: var(--required);
      margin-bottom: 0.5rem;
    }

    .req__error {
      border-color: var(--required);

      &:focus {
        border-color: inherit;
      }
    }
  }

  .message {
    margin: 1rem 0 2rem;
    color: var(--text);

    a {
      text-decoration: underline;
    }
  }

  .buttonContainer {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 0.5rem;

    button {
      background: var(--background__opacity);

      &:first-child {
        color: var(--text);
      }

      &:last-child {
        color: var(--primary);
      }
    }
  }

  @media (min-width: 768px) {
    right: 0;
  }
}

@media (min-width: 768px) {
  .subscriptionForm {
    right: 0;
  }
}
