.updateLogo {
	position: absolute;
	bottom: 0;
	right: 0;
	width: 2.8rem;
	height: 2.8rem;
	margin: 0 .5rem;
	font-size: 1.4rem;
	border: .1rem solid var(--primary);
	border-radius: .75rem;
	background-color: var(--primary);
	color: black;
	cursor: pointer;
}

.modal {
	 background-color: var(--background) !important;
	color: var(--primary) !important;
	margin: auto;
}
