@use 'styles/variables' as *;

.deleteDiv {
  display: flex;
  flex-wrap: wrap;
  align-self: center;
  justify-content: space-between;
  margin: 0 0 7rem 0;

  button {
    width: fit-content;
    color: $required__color;
  }

  > div {
    margin-bottom: 0;
  }
}