@use 'styles/variables' as *;

.nav {
  font-size: 1.5rem;
  width: 10rem;
  position: absolute;
  top: 3rem;
  right: 0;
  transform: translate(17rem);
  background-color: $primary__color;

  .list {
    display: flex;
    flex-direction: column;

    .menu {
      margin: auto 0;
      padding: .5rem;
    }
  }
}

@media (min-width: 768px) {
  .nav {
    width: auto;
    position: static;
    margin: auto 0;
    transform: translate(0);
    justify-self: end;
    align-self: center;
    background: none;

    .list {
      flex-direction: row;
      margin: .5rem auto;

      .menu {
        padding: 0 1rem;
      }
    }
  }
}

/*MENU*/

.menu__active {
  transform: translate(0);
  transition: transform 1.2s .05s ease-in-out;
}
