.nav {
  font-size: 2rem;
  margin: auto 1rem;

  ul {
    height: 4rem;
    display: flex;
    flex-direction: row-reverse;

    .menu {
      margin: auto 2rem;
      padding: 0 1rem;
    }
  }
}

@media (min-width: 280px) and (max-width: 767px) {
  .nav {
    width: 17rem;
    position: absolute;
    top: 5rem;
    right: 0;
    margin-right: -17rem;
    flex-direction: column-reverse;

    ul {
      display: grid;
      height: 8rem;
      background-color: #1e90ff;

      .menu {
        margin: 0;
        padding: 1rem;
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .menu {
    margin: 1rem 0;
  }
}

@media (min-width: 1024px) {
  .nav {
    padding: 0 0.5rem;
  }
}

/*MENU*/

.menu__active {
  margin-right: 0;
  transition: margin-right 0.8s ease-in-out;
}
