@use 'styles/variables' as *;

.account__menu {
  display: grid;
  grid-template-columns: 1fr;
  margin: 0 auto;

  .div {
    margin: 1.2rem;
    font-size: 1.5rem;

    a:first-child {
      border-bottom: 0.3rem inset $primary__color;
    }

    &:visited {
      border-bottom: 0.3rem inset $link__visited;
    }

    a:focus {
      border-bottom: 0.3rem inset $link__focus;
    }

    a:hover {
      border-bottom: 0.3rem inset $link__hover;
    }

    a:active {
      border-bottom: 0.3rem inset $link__active;
    }
  }
}

@media (min-width: 360px) {
  .account__menu {
    grid-template-columns: repeat(3, 1fr);
  }
}