@use 'styles/variables' as *;

.account__menu {
  width: 45%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0 20% 3rem 20%;

  div {
    height: 4rem;
    margin: 0 2rem;
    font-size: 2rem;

    a:first-child {
      border-bottom: 0.3rem inset black;
    }

    a:hover {
      border-bottom: 0.3rem inset $link__hover;
    }

    &:visited {
      border-bottom: 0.3rem inset $link__visited;
    }

    a:active {
      border-bottom: 0.3rem inset $link__active;
    }

    a:focus {
      border-bottom: 0.3rem inset $link__focus;
    }
  }
}

@media (min-width: 280px) and (max-width: 424px) {
  .account__menu {
    width: 96%;
    margin: 0 2%;

    div {
      height: 4rem;
      margin: 0 1rem;
    }
  }
}

@media (min-width: 425px) and (max-width: 767px) {
  .account__menu {
    width: 100vw;
    margin: 0;

    div {
      height: 4rem;
      margin: 0 1rem;
    }
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .account__menu {
    width: 55vw;
    margin: 0 12%;

    div {
      height: 4rem;
      margin: 0 3rem;
    }
  }
}

@media (min-width: 1024px) and (max-width: 1439px) {
  .account__menu {
    width: 48vw;
    margin: 0 15%;

    div {
      height: 4rem;
      margin: 0 1rem;
    }
  }
}

@media (min-width: 1440px) {
  .account__menu {
    margin: 4rem 25%;
  }
}
